.bp3-dialog[class*="zr-dialog-overlay--"] {
    align-self: baseline;
    box-shadow: none;
    margin-left: calc(16vw + 2.5%);
    padding-bottom: 0px;
    width: calc(95% - 32vw);
}

.bp3-dialog[class*="zr-dialog-overlay--"] {
    background: white;
}

.bp3-dialog[class*="zr-dialog-overlay--"] > .bp3-dialog-body {
    flex-wrap:nowrap;
    display:flex;
    margin:0px;
}

/* SMALLER DISPLAYS */

@media (max-width:1000px){
    .bp3-dialog[class*="zr-dialog-overlay--"] {
        margin-left: calc(10vw + 2.5%);
        width: calc(95% - 20vw);
    }
}

@media (max-width: 700px){
    .bp3-dialog[class*="zr-dialog-overlay--"] {
        margin-left: calc(5vw + 2.5%);
        width: calc(95% - 10vw);
    }
}

/* DARK THEMES */

@media (prefers-color-scheme: dark){
    .bp3-dialog[class*="zr-dialog-overlay--"] {
        background: var(--zr-dark-dialog-bg, #242424);
    }
}
