.zr-page-menu--citekey {
    max-width: 850px;
}

.zr-page-menu--dnp, .zr-page-menu--tag {
    opacity:0.6;
    position:absolute;
    right:10px;
    top:40px
}

/* CitekeyMenu */

.zr-citekey-doi {margin:10px;display:block;font-weight:600;letter-spacing:0.3mm;}
.zr-citekey-menu{justify-content:space-between;border-width:0px;padding:5px;border-radius:5px;background-color: #f8f8f9;box-shadow:none;}
.zr-citekey-menu--header{display:flex;}
.zr-citekey-menu--actions{flex-wrap:wrap;flex: 1 1 auto;}
.zr-citekey-menu--actions.bp3-button-group .bp3-button {flex: 0 1 auto;}
.zr-citekey-menu--actions [zr-role="pdf-link"] {font-weight:600;text-align:left!important;}

/* RelatedBar */
.zotero-roam-page-menu-citations{display:flex;padding:5px;flex-wrap:wrap;padding-bottom:0px;border-top: 1px #f1f1f1 solid;}

button[class*='zr-page-menu-show--'] {
    flex: 1 0 33%;
}

/* Backlinks */
.zr-citekey-menu--backlinks {width:100%;display:flex;flex-direction:column;margin: 10px 0px;}

.zr-citekey-menu--backlinks [list-type="references"] li:nth-child(even) {background-color:#e8f0ff;}
.zr-citekey-menu--backlinks [list-type="citations"] li:nth-child(even) {background-color:#fff3e9;}

.zr-backlink-item{display:flex;align-items:flex-start;padding:0px;}
.zr-backlink-item[data-backlink-type="reference"]:hover {background-color:#e1ecff;}
.zr-backlink-item[data-backlink-type="citation"]:hover {background-color:#fff6e1;}
.zr-backlink-item--year, .zr-backlink-item--info{font-size:0.9em;padding: 0px 0px 6px 10px;}
.zr-backlink-item--year{flex: 0 0 auto;}
.zr-backlink-item--info{line-height:normal;flex: 1 2 90%;}
.zr-backlink-item--info > *:not(.zr-item-title), .zr-backlink-item--year{line-height:2em;}
.zr-backlink-item--state{flex: 1 0 auto;overflow-wrap:anywhere;}

.zr-backlink-item[data-backlink-type="reference"] .zr-backlink-item--year, 
.zr-backlink-item[data-backlink-type="reference"] a {
    color:#136fce!important;
}

.zr-backlink-item[data-backlink-type="citation"] .zr-backlink-item--year, 
.zr-backlink-item[data-backlink-type="citation"] a {
    color:#e09f26!important;
}

/* SMALLER DISPLAYS */

@media (max-width:600px){
    .zotero-roam-page-menu-header{flex-direction:column-reverse;}
    .zr-backlink-item--state{flex: 1 2 auto;}
    .zr-citekey-menu .bp3-button {font-size: 0.85em;}
}

/* DARK THEMES */

.bp3-dark .zr-citekey-menu {
    background-color: var(--zr-dark-dialog-bg, #242424);
}

.bp3-dark .zr-citekey-menu .bp3-button {
    color: var(--zr-dark-text-co,#76a0cb);
}

.bp3-dark .zotero-roam-page-menu-citations {
    border-color: var(--zr-dark-border-color,#363a3f);
}

.bp3-dark .zr-backlinks-divider--tag.bp3-tag.bp3-minimal,
.bp3-dark .zr-backlink-item--info .zr-item-title {
    color: var(--zr-dark-text-co,#76a0cb);
}

.bp3-dark .zr-backlinks-divider--tag + .bp3-divider {
    border-color: var(--zr-dark-border-color,#363a3f);
}

.bp3-dark .zr-citekey-menu--backlinks [zr-role="sublist"][list-type="references"] li:nth-child(even) {
    background-color:var(--zr-dark-elem-bg, #2B3143);
}
.bp3-dark .zr-citekey-menu--backlinks [zr-role="sublist"][list-type="citations"] li:nth-child(even) {
    background-color: var(--zr-dark-elem-bg-2, #3d332b);
}

.bp3-dark .zr-backlink-item[data-backlink-type="reference"]:hover,
.bp3-dark .zr-backlink-item[data-backlink-type="citation"]:hover {
    background-color: var(--zr-dark-selected-bc,#191919);
}

@media (prefers-color-scheme: dark){
    .zr-citekey-menu {
        background-color: var(--zr-dark-dialog-bg, #242424);
    }

    .zr-citekey-menu .bp3-button {
        color: var(--zr-dark-text-co,#76a0cb);
    }

    .zotero-roam-page-menu-citations {
        border-color: var(--zr-dark-border-color,#363a3f);
    }

    .zr-backlinks-divider--tag.bp3-tag.bp3-minimal,
    .zr-backlink-item--info .zr-item-title {
        color: var(--zr-dark-text-co,#76a0cb);
    }

    .zr-backlinks-divider--tag + .bp3-divider {
        border-color: var(--zr-dark-border-color,#363a3f);
    }

    .zr-citekey-menu--backlinks [zr-role="sublist"][list-type="references"] li:nth-child(even) {
        background-color:var(--zr-dark-elem-bg, #2B3143);
    }

    .zr-citekey-menu--backlinks [zr-role="sublist"][list-type="citations"] li:nth-child(even) {
        background-color: var(--zr-dark-elem-bg-2, #3d332b);
    }

    .zr-backlink-item[data-backlink-type="reference"]:hover,
    .zr-backlink-item[data-backlink-type="citation"]:hover {
        background-color: var(--zr-dark-selected-bc,#191919);
    }
}
