.zr-page-menu--citekey {
    max-width: 850px;
}

.zr-page-menu--dnp, .zr-page-menu--tag {
    opacity:0.6;
    position:absolute;
    right:10px;
    top:40px
}

/* CitekeyMenu */

.zr-citekey-doi {margin:10px;display:block;font-weight:600;letter-spacing:0.3mm;}
.zr-citekey-menu{justify-content:space-between;border-width:0px;padding:5px;border-radius:5px;background-color: #f8f8f9;box-shadow:none;}
.zr-citekey-menu--header{display:flex;}
.zr-citekey-menu--actions{flex-wrap:wrap;flex: 1 1 auto;}
.zr-citekey-menu--actions.bp3-button-group .bp3-button {flex: 0 1 auto;}
.zr-citekey-menu--actions [zr-role="pdf-link"] {font-weight:600;text-align:left!important;}

/* RelatedBar */
.zotero-roam-page-menu-citations{display:flex;padding:5px;flex-wrap:wrap;padding-bottom:0px;border-top: 1px #f1f1f1 solid;}
.bp3-dark .zotero-roam-page-menu-citations{border-top-color:#f1f1f12e;}

button[class*='zr-page-menu-show--'] {
    flex: 1 0 33%;
}

/* Backlinks */
.zr-citekey-menu--backlinks {width:100%;display:flex;flex-direction:column;margin: 10px 0px;}

.zr-citekey-menu--backlinks [zr-role="sublist"][list-type="references"] li:nth-child(even) {background-color:#e8f0ff;}
.bp3-dark.zr-citekey-menu--backlinks [zr-role="sublist"][list-type="references"] li:nth-child(even) {background-color:#2d3a52;}
.zr-citekey-menu--backlinks [zr-role="sublist"][list-type="citations"] li:nth-child(even) {background-color:#fff3e9;}
.bp3-dark.zr-citekey-menu--backlinks [zr-role="sublist"][list-type="citations"] li:nth-child(even) {background-color:#52452d;}

.zr-backlink-item{display:flex;align-items:flex-start;padding:0px;}
.zr-backlink-item[data-backlink-type="reference"]:hover {background-color:#e1ecff;}
.zr-backlink-item[data-backlink-type="citation"]:hover {background-color:#fff6e1;}
.zr-backlink-item--year, .zr-backlink-item--info{font-size:0.9em;padding: 0px 0px 6px 10px;}
.zr-backlink-item--year{flex: 0 0 auto;}
.zr-backlink-item--info{line-height:normal;flex: 1 2 90%;}
.zr-backlink-item--info > *:not(.zr-item-title), .zr-backlink-item--year{line-height:2em;}
.zr-backlink-item--state{flex: 1 0 auto;overflow-wrap:anywhere;}

[data-backlink-type="reference"] .zr-backlink-item--year, 
[data-backlink-type="reference"] a {
    color:#136fce!important;
}
.bp3-dark [data-backlink-type="reference"] .zr-backlink-item--year, 
.bp3-dark [data-backlink-type="reference"] a {
    color:#3fb8ff!important;
}
[data-backlink-type="citation"] .zr-backlink-item--year, 
[data-backlink-type="citation"] a {
    color:#e09f26!important;
}
.bp3-dark [data-backlink-type="citation"] .zr-backlink-item--year, 
.bp3-dark [data-backlink-type="citation"] a {
    color:#bf7326!important;
}

/* SMALLER DISPLAYS */

@media (max-width:600px){
    .zotero-roam-page-menu-header{flex-direction:column-reverse;}
    .zr-backlink-item--state{flex: 1 2 auto;}
    .zr-citekey-menu .bp3-button {font-size: 0.85em;}
}
