.zr-tribute {
    max-width:450px;
    max-height:300px;
    overflow-y:scroll;
    margin-top:8px;
    border: 1px #efefef solid;
    background-color: white;
    border-radius: 3px;
}

.zr-tribute ul {
    list-style-type:none;
    padding:0px;
    margin-bottom: 0px;
}

.zr-tribute ul li {
    padding: 3px 8px;
    font-size: 0.85em;
    line-height: 1.5em;
    display: flex;
    justify-content: space-between;
}

.zr-tribute--item-details {
    flex: 0 1 100%;
}

.zr-tribute--selected {
    background-color: #eaf3fc;
}

/* DARK THEMES */

@media (prefers-color-scheme: dark){
    .zr-tribute {
        background-color: var(--zr-dark-selected-bc,#191919);
        color: var(--zr-dark-auxiliary,#95a8b7);
    }

    .zr-tribute--selected {
        background-color: var(--zr-dark-elem-bg, #2B3143);
    }
}
