.zr-drawer--notes {
    overflow-y: scroll;
}

.zr-drawer--notes-card {
    margin: 10px;
    flex: 0 0 auto;
}

.zr-annotation--highlight {
    background-repeat: no-repeat;
    background-size: 100% 85%;
    font-family: monospace;
}

/* DARK THEME */

[zr-dark-theme="true"] .zr-drawer--notes {
    background-color: var(--zr-dark-dialog-bg, #242424);
    color: var(--zr-dark-text-co, #76a0cb);
}
[zr-dark-theme="true"] .zr-drawer--notes h4.bp3-heading {
    color: var(--zr-dark-text-co, #76a0cb);
}
[zr-dark-theme="true"] .zr-drawer--notes-card {
    background-color: var(--zr-dark-elem-bg, #2B3143);
}
