.zr-drawer--notes > .bp3-tabs > .bp3-tab-list {
    margin-left: 20px;
}

.zr-drawer--notes .bp3-tab-panel {
    margin-top: 0px;
    max-height: 95vh;
    overflow-y: scroll;
}

.zr-drawer--notes-card {
    flex: 0 0 auto;
    margin: 10px;
    padding: 20px;
}

.zr-drawer--notes-card:not(:first-child) {
    border-top: 2px dotted #ececec;
}

.zr-annotation--header, .zr-annotation--footer {
    align-items: center;
    display: flex;
}

.zr-annotation--header {
    justify-content: space-between;
}

.zr-annotation--header .bp3-tag {
    margin-right: 5px;
}

.zr-annotation--footer {
    justify-content: end;
}

.zr-annotation--highlight, .zr-annotation--comment {
    padding: 10px;
}

.zr-annotation--highlight > span {
    background-repeat: no-repeat;
    background-size: 100% 95%;
    font-family: monospace;
}

/* DARK THEME */

[zr-dark-theme="true"] .zr-drawer--notes {
    background-color: var(--zr-dark-selected-bc,#191919);
    color: var(--zr-dark-text-co, #76a0cb);
}

[zr-dark-theme="true"] .zr-annotation--header .bp3-button {
    color: var(--zr-dark-text-co,#76a0cb);
}

[zr-dark-theme="true"] .zr-drawer--notes-card {
    background-color: none;
    border-color: var(--zr-dark-border-color,#363a3f);
}
