.zr-semantic-panel--main .bp3-tab-list {
    margin-left: 30px;
    align-items: start;
}

.zr-semantic-panel--main .bp3-tab-list > *:not(.bp3-flex-expander):not(.bp3-button) {
    line-height: 21px;
    margin-top: 10px;
    font-size: 0.9em;
}

.zr-semantic-panel--main .bp3-tab[aria-selected="true"] {
    font-weight: 600;
    box-shadow: none;
}

.zr-semantic-panel--main .bp3-tab[aria-selected="false"] {
    opacity: 0.7;
}

.zr-semantic-panel--main .bp3-tab[data-tab-id="is_reference"][aria-selected="true"],
.zr-semantic-panel--main .bp3-tab[data-tab-id="is_reference"]:not([aria-disabled="true"]):hover {
    color: #206fe6; /* zr-highlight */
}

.zr-semantic-panel--main .bp3-tab[data-tab-id="is_citation"][aria-selected="true"],
.zr-semantic-panel--main .bp3-tab[data-tab-id="is_citation"]:not([aria-disabled="true"]):hover {
    color: #d9822b; /* zr-highlight-2 */
}

.zr-semantic-panel--main .bp3-tab .bp3-icon {
    margin-right: 5px;
}

.zr-semantic-panel--main .bp3-tab-panel {
    margin-top: 5px;
}

.zr-semantic-panel--main input[id*="semantic-search--"] {
    background: 0;
    margin-bottom: 10px;
    box-shadow: none;
    font-size: 1em;
    color: #818181;
}

.zr-semantic-panel--main .zr-related-item[data-in-library] .zr-related-item--timestamp {
    color: white;
    background-color: #74c37496;
    border-radius: 3px;
}

.zr-semantic-panel--main .zr-related-item[data-in-library] .zr-related-item-contents--actions button {
    font-weight: 500;
}

.zr-semantic-panel--main .zr-related-item--links {
    display: block;
}

.zr-semantic-panel--main .zr-related-item--links span[data-service] {
    padding-right: 10px;
}

.zr-semantic-panel--main .zr-related-item-contents .zr-related-item--intents {margin: 5px 0px;}
.zr-semantic-panel--main .zr-related-item-contents .zr-related-item--intents .bp3-tag[data-semantic-intent] {
    background-color: #e8ddff;
    color: #a05fba;
    opacity: 0.6;
    margin-right: 8px;
}
