.zr-tagmanager--header {
    align-items: center;
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
}

.zr-tagmanager .bp3-tab-list .bp3-tab {
    font-weight: 400;
    opacity: 0.5;
}
.zr-tagmanager .bp3-tab-list .bp3-tab[aria-selected="true"] {
    box-shadow: none;
    color: var(--zr-highlight,#206fe6);
    font-weight: 500;
    opacity: 1;
}

.zr-tagmanager--library-select {
    background: #ffffff7a;
    font-weight: bold;
}

/* DARK THEME */

[zr-dark-theme="true"] .zr-tagmanager .bp3-tab-list .bp3-tab,
[zr-dark-theme="true"] .zr-tagmanager label,
[zr-dark-theme="true"] .zr-tagmanager .zr-tagmanager--library-select.bp3-button.bp3-minimal.bp3-active {
    color: var(--zr-dark-text-co, #76a0cb);
}
[zr-dark-theme="true"] .zr-tagmanager .bp3-tab-list .bp3-tab[aria-selected="true"] {
    color: var(--zr-dark-highlight,#3fb8ff);
}

[zr-dark-theme="true"] .zr-tagmanager--library-select {
    background: var(--zr-dark-selected-bc,#191919);
}
