.zr-auxiliary-dialog--settings.bp3-dialog {
    --zr-dialog-gutter: 2.5%;
    --zr-dialog-margin: 15vw;
    height: 90vh;
    overflow-y: scroll;
}

.zr-auxiliary-dialog--settings.bp3-dialog::-webkit-scrollbar {
    width: 5px;
}

.zr-settings-tabs-wrapper > .bp3-tab-list {
    background: var(--zr-box-bg);
    border-right: 1px var(--zr-border-co) solid;
    height: 90vh;
}

/* Settings TabPanels */

.zr-settings-panel.bp3-tab-panel {
    max-height: 90vh;
    overflow-y: scroll;
	padding: 0.5em 1em;
    width: 100%;
}

.zr-settings-panel::-webkit-scrollbar {
    width: 0px;
}

.zr-settings-panel h4.bp3-heading {
	color: var(--zr-text-co);
	margin: 0px;
    font-size: 1.05rem;
}

/* Definition */

.zr-settings-panel .zr-definition--wrapper {
	margin: 5px;
}

.zr-settings-panel .zr-definition--wrapper .zr-definition--item {
	border: none;
	box-shadow: none;
	color: hsla(var(--zr-accent-1-hsl), 0.8);
	display: inline-block;
	margin-right: 10px;
}

/* RowGroupOption */

.zr-settings-rowgroup--option-label h5.bp3-heading {
    color: var(--zr-auxiliary);
    margin: 0px;
}

.zr-settings-rowgroup--option-label.selected h5.bp3-heading {
    color: var(--zr-text-co);
}

.zr-settings-rowgroup--option-label:not(.selected) {
    opacity: 0.6;
}

.zr-settings-rowgroup--option-label h5.bp3-heading,
.zr-settings-rowgroup--option-label > .bp3-control-indicator {
    font-size: 0.95rem;
}

.zr-settings-rowgroup--option {
    padding: 5px 10px;
}

.zr-settings-rowgroup--option.align-items-baseline {
	align-items: baseline;
}

.zr-settings-rowgroup--option [zr-role="settings-row"] {
    padding: 0px;
}

.zr-settings-rowgroup--option-label {
    align-items: baseline;
    display: flex;
}

.zr-settings-rowgroup--option-label > input[type="checkbox"],
.zr-settings-rowgroup--option-label > .bp3-control-indicator {
    flex: 0 0 auto;
}

/* Rows */

[zr-role="settings-row"],
[zr-role="settings-row-col"],
[zr-role="settings-row-group"] {
	padding: 0.9em 0.6em;
}

[zr-role="settings-row"],
.zr-settings-rowgroup--option {
    align-items: center;
    display: flex;
    font-size: 0.9em;
    justify-content: space-between;
}

[zr-role="settings-row-group"] > div:first-child:not(:empty),
[zr-role="settings-row-col"] > div:first-child:not(:empty) {
    padding-bottom: 10px;
}

[zr-role="settings-row"] > div:first-child:not(:empty),
.zr-settings-rowgroup--option-label {
    flex: 1 1 50%;
    padding-right: 10px;
}

[zr-role="settings-row-col"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

[zr-role="settings-row-col"] > button.bp3-button {
    height: fit-content;
}

[zr-role="settings-row-col--container"] {
    display: flex;
    flex: 0 0 100%;
    place-content: space-evenly;
}

/* Settings Card */

.zr-settings--card {
    border: 1px var(--zr-border-co) solid;
    border-radius: 3px;
    color: var(--zr-text-co);
    flex: 0 0 45%;
	margin: 10px 0px;
    padding: 5px 10px;
}

/* Inputs */

.zr-settings-panel [zr-role="settings-row"] > [zr-role="input-text"] {
    flex: auto;
    text-align: right;
}

.zr-setting--single-input button {
    background: hsla(var(--zr-accent-1-hsl), 5%);
}

.zr-setting--single-input button:hover {
    background: hsla(var(--zr-accent-1-hsl), 10%);
}

.zr-text-select-group > .zr-setting--single-input {
    padding: 0px 10px;
}

.zr-text-select-group > .zr-text-input {
    flex: 1;
}

/* Scite Badge */

.zr-settings-panel .scite-badge {
    align-self: center;
    margin-bottom: 10px;
    max-width: 100%;
    width: fit-content;
}

/* SMALLER DISPLAYS */

@media (max-width: 1000px){

	.zr-settings--card [zr-role="settings-row"] {
		flex-direction: column;
	}

}
