.zr-settings-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.zr-settings-list > h3.bp3-heading {
    border-top: 1px var(--zr-border-co) solid;
    color: var(--zr-text-co);
    font-size: 1.15rem;
    padding-top: 10px;
    margin: 10px 0px;
    padding: 0px 10px;
    padding-top: 10px;
}

.zr-settings-list > h3.bp3-heading:first-child {
    margin-top: 0px;
}

.zr-settings-list h4.bp3-heading {
    color: var(--zr-accent-1);
    font-size: 1.05rem;
    font-weight: 400;
    margin: 0px;
}

.zr-settings-list h5.bp3-heading {
    color: var(--zr-auxiliary);
    margin: 0px;
}

.zr-settings-list h5.bp3-heading,
.zr-settings-list .zr-settings-rowgroup--option > .bp3-control-indicator {
    font-size: 0.95rem;
}

.zr-settings-list [zr-row-option-selected="true"] h5.bp3-heading {
    color: var(--zr-text-co);
}

.zr-settings-list [zr-role="settings-row"],
.zr-settings-list [zr-role="settings-rowgroup--option"] {
    align-items: center;
    display: flex;
    font-size: 0.9em;
    justify-content: space-between;
}

.zr-settings-list [zr-role="settings-row"],
.zr-settings-list [zr-role="settings-row-col"] {
    padding: 5px 10px
}

.zr-settings-list [zr-role="settings-rowgroup--option"] {
    padding: 0px 10px;
}

.zr-settings-list [zr-role="settings-rowgroup--option"] [zr-role="settings-row"] {
    padding: 0px;
}

.zr-settings-list [zr-role="settings-row-group"] {
    padding: 5px 10px;
}

.zr-settings-list [zr-role="settings-row-group"] > div:first-child:not(:empty),
.zr-settings-list [zr-role="settings-row-col"] > div:first-child:not(:empty) {
    padding-bottom: 10px;
}

.zr-settings-list [zr-role="settings-row"] > div:first-child:not(:empty),
.zr-settings-list [zr-role="settings-rowgroup--option"] > .zr-settings-rowgroup--option {
    flex: 1 1 50%;
    padding-right: 10px;
}

.zr-settings-list [zr-role="settings-rowgroup--option"] > .zr-settings-rowgroup--option {
    align-items: baseline;
    display: flex;
}

.zr-settings-list .zr-settings-rowgroup--option[zr-row-option-selected="false"] {
    opacity: 0.6;
}

.zr-settings-list .zr-settings-rowgroup--option > input[type="checkbox"],
.zr-settings-list .zr-settings-rowgroup--option > .bp3-control-indicator {
    flex: 0 0 auto;
}

.zr-settings-list .zr-settings--card {
    border: 1px var(--zr-border-co) solid;
    border-radius: 3px;
    color: var(--zr-text-co);
    flex: 0 0 45%;
    padding: 5px 10px;
}

.zr-settings-list [zr-role="settings-row-col"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.zr-settings-list [zr-role="settings-row-col"] > button.bp3-button {
    height: fit-content;
}

.zr-settings-list [zr-role="settings-row-col--container"] {
    display: flex;
    flex: 0 0 100%;
    place-content: space-evenly;
}

.zr-settings-list [zr-role="settings-row"] > [zr-role="input-text"] {
    flex: auto;
    text-align: right;
}

.zr-settings-list .zr-setting--single-input button {
    background: hsla(var(--zr-accent-1-hsl), 5%);
}

.zr-settings-list .zr-setting--single-input button:hover {
    background: hsla(var(--zr-accent-1-hsl), 10%);
}

.zr-text-select-group > .zr-setting--single-input {
    padding: 0px 10px;
}

.zr-text-select-group > .zr-text-input {
    flex: 1;
}

.zr-settings-list .scite-badge {
    align-self: center;
    margin-bottom: 10px;
    max-width: 100%;
    width: fit-content;
}
