.zr-tagmanager--datalist .zr-datalist--item {
    border: 1px var(--zr-border-co) solid;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 1px #d7dced4d;
    display:flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px 0px;
}

.zr-tagmanager--datalist .zr-datalist--item [zr-role="item-header"] {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
}

.zr-tagmanager--datalist .zr-datalist--item [zr-role="item-header"] > *,
.zr-tagmanager--datalist .zr-datalist--item [zr-role="item-info"] > * {
    margin: 0px 4px;
}

.zr-tagmanager--datalist .zr-datalist--item [zr-role="title"] {
    font-weight:600;
}

.zr-tagmanager--datalist .zr-datalist--item [zr-role="item-count"] {
    align-self: center;
    flex: 0 0 auto;
}

.zr-tagmanager--datalist .zr-datalist--item.zr-tag-suggestion [zr-role="item-count"]:hover {
    cursor: help;
}

.zr-tagmanager--datalist .zr-datalist--item [zr-role="item-info"] {
    align-self: center;
    flex: 2 1 40%;
}

.zr-tagmanager--datalist .zr-datalist--item [zr-role="item-actions"] {
    justify-content: end;
    display: flex;
    flex: 1 1 33%;
}

.zr-tagmanager--datalist .zr-datalist--item [zr-role="item-actions"] > .bp4-menu {
    min-width: auto;
}

.zr-tag-entry .bp4-tag[data-tag-source] {
    margin: 3px 5px;
}

/* DARK THEME */

[zr-dark-theme="true"] .zr-tagmanager--datalist .zr-datalist--item {
    box-shadow: 2px 2px 4px 1px #0b0b0c4d;
}

/* TODO: Set vars for box-shadow for item boxes */
