.zr-query-filters {
    flex: 0 1 100%;
}

.zr-query-filters > button {
    margin-left: 10px;
}

.zr-query-filter {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.zr-query-filter--elements {
    align-items: center;
    background: hsla(var(--zr-accent-1-hsl), 7%);
    border-radius: 5px;
    display: flex;
    flex: 0 1 100%;
    flex-wrap: wrap;
    padding: 5px 10px;
}

.zr-query-filter--elements [zr-role="filter-tag"].bp4-tag.bp4-minimal {
    background: var(--zr-box-bg);
    color: var(--zr-text-co);
}

.zr-query-filter [zr-role="filter-list-operator"],
.zr-query-filter--elements [zr-role="filter-operator"],
.zr-query-box [zr-role="query-entry-operator"] {
    color: var(--zr-text-co);
    font-size: var(--zr-text-small);
    margin: 0px 7px;
}

.zr-query-filters > button.bp4-button {
    margin: 5px 0px;
}

.zr-query-term-dialog {
    background-color: var(--zr-dialog-bg);
}

.zr-query-term-dialog .bp4-dialog-footer-actions .bp4-button {
    color: var(--zr-auxiliary);
}

/* To correct : */


.zr-query-box {
    align-items: baseline;
    display: flex;
    width: 100%;
}

.zr-query-box > div {
    flex: 1 1 100%;
}

.bp4-dialog-body > .zr-query-box > div > .zr-query-box, 
.bp4-dialog-body > .zr-query-box > div > .zr-query-entry {
    background: hsla(var(--zr-accent-1-hsl), 10%);
    border-radius: 10px;
    padding: 10px;
}

.zr-query-entry {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.zr-query-entry > div {
    background: var(--zr-dialog-bg);
    border-radius: 10px;
    display: flex;
    width: 100%;
}

.zr-query-entry > div > .bp4-popover-wrapper {
    border-radius: 10px;
}
.zr-query-entry > div > span.bp4-popover-wrapper {
    flex: 0 1 25%;
}
.zr-query-entry > div > div.bp4-popover-wrapper {
    flex: 1 1 60%;
}

.zr-query-entry > div > .bp4-popover-wrapper button {
    border-radius: 10px;
    color: var(--zr-text-co);
}

.zr-query-entry .bp4-input-group {
    flex: 1 1 40%;
}

.zr-query-entry input.bp4-input {
    background: var(--zr-dialog-bg);
    box-shadow: none;
    color: var(--zr-auxiliary);
}

.zr-query-box--add-sibling.bp4-button,
.zr-query-box--add-sibling.bp4-button:hover {
    background: var(--zr-box-bg);
    border: 1px var(--zr-border-co) solid;
    color: var(--zr-text-co);
    margin-top: 10px;
}

.zr-query-entry--add-sibling.bp4-button,
.zr-query-entry--add-sibling.bp4-button:hover,
.zr-query-entry--add-sibling.bp4-button .bp4-icon,
.zr-query-entry--add-sibling.bp4-button:hover .bp4-icon {
    color: hsla(var(--zr-accent-1-hsl), 75%);
}

.zr-query-box > .zr-query-box--remove-self.bp4-button:hover ~ .zr-query-entry {
    background: hsla(var(--zr-accent-1-hsl), 10%);
}
