#zr-item-details {
    display: flex;
    width: 100%;
}

#zr-item-details > * {
    max-height: 80vh;
    overflow-y: scroll;
}

#zr-item-details [zr-role="item-metadata"] {
    border-bottom-left-radius: 6px;
    flex: 1 0 66%;
    padding: 10px 4%;
}

#zr-item-details [zr-role="item-metadata--header"] {
    display: flex;
    flex-wrap: wrap;
}

#zr-item-details [zr-role="item-metadata--header"],
#zr-item-details [zr-role="item-metadata--footer"] {
    font-size: 0.9em;
}

#zr-item-details [zr-role="item-metadata--header"] h5 {
    margin-bottom:5px;
    width: 100%;
}

#zr-item-details [zr-role="item-weblink"] {
    display: block;
    /* To prevent weird resizing of flex container on smaller displays */
    overflow-wrap: anywhere;
    /* --- */
    width: 100%;
}

#zr-item-details [zr-role="item-abstract"]:not(:empty) {
    border: 1px #efefef solid;
    font-weight: 300;
    margin: 15px 5px;
    padding: 10px 2.5%;
    text-align: justify;
}

#zr-item-details [zr-role="item-actions"] {
    background: #f5f8fa;
    border-bottom-right-radius: 6px;
    flex: 0 1 34%;
}

#zr-item-details [zr-role="item-actions"] .bp3-menu {
    background: none;
}

#zr-item-details [zr-role="item-actions"] .bp3-menu-item {
    font-weight: 500;
}

#zr-item-details [zr-role="item-actions"] .bp3-menu-item .bp3-icon {
    opacity: 0.3;
    color: var(--zr-highlight,#3595e7);
}

#zr-item-details [zr-role="item-metadata--footer"] {
    display: flex;
    justify-content: space-between;
}

#zr-item-details [zr-role="item-metadata--footer"] div {
    flex: 0 1 80%;
}

#zr-item-details [zr-role="item-metadata--footer"] .bp3-tag {
    margin: 3px;
}

/* SMALLER DISPLAYS */

@media (max-width:600px){
    #zr-item-details { 
        flex-direction: column; 
        max-height: 80vh;
        overflow-y: scroll;
    }
}

/* DARK THEME */

[zr-dark-theme="true"] #zr-item-details [zr-role="item-metadata"] {
    color: var(--zr-dark-text-co, #76a0cb);
}

[zr-dark-theme="true"] #zr-item-details [zr-role="item-actions"] {
    background-color: var(--zr-dark-selected-bc,#191919);
    color: var(--zr-dark-text-co, #76a0cb);
}

[zr-dark-theme="true"] #zr-item-details [zr-role="item-abstract"] {
    border-color: var(--zr-dark-border-color,#363a3f);
}

/*
[zr-dark-theme="true"] #zr-item-details [zr-role="item-actions"] .bp3-button:hover {
    background-color: var(--zr-dark-selected-bc,#191919);
    color: var(--zr-dark-text-co, #76a0cb);
}
*/
