#zr-item-details {
    display: flex;
    width: 100%;
}

#zr-item-details > * {
    max-height: 80vh;
    overflow-y: scroll;
}

#zr-item-details [zr-role="item-metadata"] {
    border-bottom-left-radius: 6px;
    color: var(--zr-text-co);
    flex: 1 0 66%;
    padding: 10px 4%;
}

#zr-item-details [zr-role="item-metadata--header"] {
    display: flex;
    flex-wrap: wrap;
}

#zr-item-details [zr-role="item-metadata--header"] {
    font-size: 0.9em;
}

#zr-item-details [zr-role="item-metadata--header"] h5 {
    margin-bottom:5px;
    width: 100%;
}

#zr-item-details [zr-role="item-weblink"] {
    display: block;
    /* To prevent weird resizing of flex container on smaller displays */
    overflow-wrap: anywhere;
    /* --- */
    width: 100%;
}

#zr-item-details [zr-role="item-abstract"]:not(:empty) {
    background: var(--zr-box-bg);
    margin: 5px 0px;
    padding: 10px 2.5%;
}

#zr-item-details [zr-role="item-actions"] {
    background: var(--zr-box-bg);
    border-bottom-right-radius: 6px;
    color: var(--zr-text-co);
    flex: 0 1 34%;
    padding-top: 10px;
}

#zr-item-details [zr-role="item-actions"] .bp4-menu {
    background: none;
}

#zr-item-details [zr-role="item-actions"] > ul > li {
    font-weight: 500;
}

#zr-item-details [zr-role="item-actions"] .bp4-overlay {
    font-weight: normal;
}

#zr-item-details [zr-role="item-actions"] .bp4-menu-item:hover {
    background: var(--zr-dialog-bg);
}

#zr-item-details [zr-role="item-actions"] .bp4-menu-item > .bp4-icon:first-child {
    color: hsla(var(--zr-accent-1-co), 40%);
}

#zr-item-details [zr-role="metadata-col"],
#zr-item-details [zr-role="metadata-row"] {
    display: flex;
    font-size: 0.9em;
    margin: 10px 0px;
}

#zr-item-details [zr-role="metadata-col"] {
    flex-wrap: wrap;
}

#zr-item-details [zr-role="metadata-row"] {
    align-items: baseline;
    justify-content: space-between;
}

#zr-item-details [zr-role="metadata-col"] span,
#zr-item-details [zr-role="metadata-col"] div {
    flex: 0 0 100%;
}

#zr-item-details [zr-role="metadata-row"] span {
    flex: 1 0 25%;
    min-width: auto;
}

#zr-item-details [zr-role="metadata-row"] div {
    flex: 0 1 80%;
}

#zr-item-details [zr-role="metadata-row"] .bp4-tag {
    margin-bottom: 5px;
    margin-right: 3px;
}

#zr-item-details [zr-role="metadata-row"] .bp4-tag.bp4-minimal:not([class*="bp4-intent"]) {
    color: var(--zr-text-co);
    background: var(--zr-box-bg);
}

/* SMALLER DISPLAYS */

@media (max-width:600px){
    #zr-item-details { 
        flex-direction: column; 
        max-height: 80vh;
        overflow-y: scroll;
    }
    #zr-item-details > * {
        max-height: none;
    }
}
