.bp3-dialog.zr-auxiliary-dialog--citations {
    width:calc(97% - 44vw);
    margin-left: calc(22vw + 1.5%);
    transition: 0.5s;
}

.bp3-dialog.zr-auxiliary-dialog--citations > .bp3-dialog-body {
    display: flex;
}

.bp3-dialog.zr-auxiliary-dialog--citations.has-selected-items {
    width:calc(97% - 22vw);
}

.zr-semantic-panel--main .bp3-tab-list {
    margin-left: 15px;
    align-items: start;
}

.zr-semantic-panel--main .bp3-tab-list > *:not(.bp3-flex-expander):not(.bp3-button) {
    line-height: 21px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.9em;
}

.zr-semantic-panel--main .bp3-tab[aria-selected="true"] {
    font-weight: 600;
    box-shadow: none;
}

.zr-semantic-panel--main .bp3-tab[aria-selected="false"] {
    opacity: 0.7;
}

.zr-semantic-panel--main .bp3-tab[data-tab-id="is_reference"][aria-selected="true"],
.zr-semantic-panel--main .bp3-tab[data-tab-id="is_reference"]:not([aria-disabled="true"]):hover {
    color: var(--zr-highlight,#206fe6);
}

.zr-semantic-panel--main .bp3-tab[data-tab-id="is_citation"][aria-selected="true"],
.zr-semantic-panel--main .bp3-tab[data-tab-id="is_citation"]:not([aria-disabled="true"]):hover {
    color: var(--zr-highlight-2,#d9822b);
}

.zr-semantic-panel--main .bp3-tab .bp3-icon {
    margin-right: 5px;
}

.zr-semantic-panel--main .bp3-tab-panel {
    margin-top: 5px;
}

.zr-semantic-panel--main input[id*="semantic-search--"] {
    background: 0;
    margin-bottom: 10px;
    box-shadow: none;
    font-size: 1em;
    color: #818181;
}

.zr-semantic-panel--main .zr-related-item[data-in-library="true"] .zr-related-item--timestamp {
    color: white;
    background-color: #74c37496;
    border-radius: 3px;
}

.zr-semantic-panel--main .zr-related-item--links {
    display: block;
}

.zr-semantic-panel--main .zr-related-item--links span[data-service] {
    padding-right: 10px;
}

.zr-semantic-panel--main .zr-related-item--intents {margin: 5px 0px;}
.zr-semantic-panel--main .zr-related-item--intents .bp3-tag[data-semantic-intent] {
    background-color: #e8ddff;
    color: #a05fba;
    opacity: 0.6;
    margin-right: 8px;
}

.zr-semantic-panel--side {
    flex: 1 0 0%;
    overflow: auto;
    transition: 0.5s;
}

.has-selected-items .zr-semantic-panel--side {
    flex: 1 0 22vw;
    display: block;
    padding: 0px 15px;
}

.zr-popover.bp3-multi-select-popover .bp3-menu {
    max-width: calc(22vw - 30px);
    width: calc(22vw - 30px);
}

li.import-items_selected {
    display:flex;
    justify-content:space-between;
    background:#f9fafb;
    padding:5px;
}

/* SidePanel */
.selected_title{font-weight:500;}
.selected_origin{display:block;}
.selected_info{flex: 0 1 90%;}
.selected_state{flex: 1 0 10%;text-align:center;}

/* DARK THEMES */

.bp3-dark .zr-semantic-panel--main .bp3-tab {
    color: var(--zr-dark-text-co, #76a0cb);
}

.bp3-dark .zr-semantic-panel--main .bp3-tab[data-tab-id="is_reference"][aria-selected="true"],
.bp3-dark .zr-semantic-panel--main .bp3-tab[data-tab-id="is_reference"]:not([aria-disabled="true"]):hover {
    color: var(--zr-dark-highlight,#3fb8ff);
    background-color: var(--zr-dark-selected-bc,#191919);
}

.bp3-dark .zr-semantic-panel--main .bp3-tab[data-tab-id="is_citation"][aria-selected="true"],
.bp3-dark .zr-semantic-panel--main .bp3-tab[data-tab-id="is_citation"]:not([aria-disabled="true"]):hover {
    color: var(--zr-dark-highlight-2,#d9822b);
    background-color: var(--zr-dark-selected-bc,#191919);
}

.bp3-dark .zr-semantic-panel--main .zr-related-item--intents .bp3-tag[data-semantic-intent] {
    background-color: var(--zr-dark-selected-bc,#191919);
}

.bp3-dark .zr-semantic-panel--main .zr-related-item[data-in-library="true"] .zr-related-item--timestamp {
    background-color: var(--zr-dark-positive-bc, #5863582e);
    color: var(--zr-dark-positive-co, #86f686);
}

.bp3-dark li.import-items_selected {
    background-color: var(--zr-dark-selected-bc,#191919);
}

@media (prefers-color-scheme: dark){
    .zr-semantic-panel--main .bp3-tab {
        color: var(--zr-dark-text-co, #76a0cb);
    }
    .zr-semantic-panel--main .bp3-tab[data-tab-id="is_reference"][aria-selected="true"],
    .zr-semantic-panel--main .bp3-tab[data-tab-id="is_reference"]:not([aria-disabled="true"]):hover {
        color: var(--zr-dark-highlight,#3fb8ff);
        background-color: var(--zr-dark-selected-bc,#191919);
    }

    .zr-semantic-panel--main .bp3-tab[data-tab-id="is_citation"][aria-selected="true"],
    .zr-semantic-panel--main .bp3-tab[data-tab-id="is_citation"]:not([aria-disabled="true"]):hover {
        color: var(--zr-dark-highlight-2,#d9822b);
        background-color: var(--zr-dark-selected-bc,#191919);
    }

    .zr-semantic-panel--main .zr-related-item--intents .bp3-tag[data-semantic-intent] {
        background-color: var(--zr-dark-selected-bc,#191919);
    }

    .zr-semantic-panel--main .zr-related-item[data-in-library="true"] .zr-related-item--timestamp {
        background-color: var(--zr-dark-positive-bc, #5863582e);
        color: var(--zr-dark-positive-co, #86f686);
    }

    li.import-items_selected {
        background-color: var(--zr-dark-selected-bc,#191919);
    }
}
