.zr-auxiliary-dialog--citations.bp3-dialog {
    --zr-dialog-gutter: 1.5%;
    --zr-dialog-margin: 20vw;
    transition: 0.5s;
}

.zr-auxiliary-dialog--citations.bp3-dialog.has-selected-items {
    width: calc(100% - 2*var(--zr-dialog-gutter) - var(--zr-dialog-margin));
}

.zr-auxiliary-dialog--citations.bp3-dialog > .bp3-dialog-body {
    display: flex;
}

.zr-semantic-panel--main {
	flex: 0 1 100%;
}

.zr-semantic-panel--main .bp3-tab-list {
    margin-left: 15px;
    align-items: start;
}

.zr-semantic-panel--main .bp3-tab-list > *:not(.bp3-flex-expander):not(.bp3-button) {
    line-height: 21px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.9em;
}

/* Citations Tab */

.zr-semantic-panel--main .zr-tabs.bp3-tabs > .bp3-tab-list > .bp3-tab[data-tab-id="is_citation"][aria-selected="true"],
.zr-semantic-panel--main .zr-tabs.bp3-tabs > .bp3-tab-list > .bp3-tab[data-tab-id="is_citation"]:not([aria-disabled="true"]):hover {
    color: var(--zr-accent-2);
}

/* --- */

.zr-semantic-panel--main .bp3-tab-panel {
    margin-top: 5px;
}

#zr-semantic-panel-label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.zr-semantic-panel--main input[id*="semantic-search--"] {
    background: 0;
    box-shadow: none;
    font-size: 1em;
    color: var(--zr-auxiliary);
}

.zr-semantic-panel--main .zr-related-item[data-in-library="true"] .zr-related-item--timestamp {
    background: var(--zr-positive-bg);
    color: var(--zr-positive-co);
    border-radius: 3px;
}

.zr-semantic-panel--main .zr-related-item--links {
    display: block;
}

.zr-semantic-panel--main .zr-related-item--links span[data-service] {
    padding-right: 10px;
}

.zr-semantic-panel--main .zr-related-item--intents {margin: 5px 0px;}
.zr-semantic-panel--main .zr-related-item--intents .bp3-tag[data-semantic-intent] {
    background-color: var(--zr-box-bg);
    color: #c981ed;
    opacity: 0.6;
    margin-right: 8px;
}

.zr-semantic-panel--side {
    background: var(--zr-box-bg);
    border-radius: 0px 6px 6px 0px;
    flex: 0 0 0%;
    overflow: auto;
    transition: 0.5s;
}

.zr-auxiliary-dialog--citations.bp3-dialog.has-selected-items .zr-semantic-panel--side {
    flex: 1 0 var(--zr-dialog-margin);
    display: block;
}

.zr-auxiliary-dialog--citations.bp3-dialog.has-selected-items .zr-semantic-panel--side > *:not(.import-header) {
    padding: 0px 10px;
}

.zr-popover.bp3-multi-select-popover .bp3-menu {
    max-width: calc(var(--zr-dialog-margin) - 30px);
    width: calc(var(--zr-dialog-margin) - 30px);
}

li.import-items_selected {
    display:flex;
    justify-content:space-between;
    background:var(--zr-dialog-bg);
    padding:5px;
}

/* SidePanel */
.selected_title{font-weight:500;}
.selected_origin{display:block;}
.selected_info{flex: 0 1 90%;}
.selected_state{flex: 1 0 10%;text-align:center;}

/* SMALLER DISPLAYS */

@media (max-width: 1200px){
    .zr-semantic-panel--side .import-options {
        flex-direction: column;
    }
}

@media (max-width: 1000px){
    .zr-auxiliary-dialog--citations.bp3-dialog {
        --zr-dialog-gutter: 1.5%;
        --zr-dialog-margin: 11vw;
    }
    .zr-related-item-contents--actions {
        flex: 0 1 auto;
    }
    .zr-auxiliary-dialog--citations.bp3-dialog.has-selected-items .zr-semantic-panel--side {
        flex: 1 0 calc(2.5*var(--zr-dialog-margin));
    }
    .zr-semantic-panel--side .import-options > * {
        max-width: 100%;
    }
}
