.zr-library-item-popover {
    flex: 0 0 auto;
    overflow-wrap: anywhere;
}

.zr-library-item-popover button.bp3-button,
.zr-library-item-popover button.bp3-button:hover {
    background: var(--zr-box-bg);
    color: var(--zr-text-co);
    font-weight: 500;
    padding-left: 5px;
}

/* SMALLER DISPLAYS */

@media (max-width: 700px){
    .zr-library-item-popover {
        flex: 1 1 auto;
    }
}
