.zr-webimport-div {
    position:absolute;
    right:0px;
    opacity:0.7;
    z-index: 10;
}


/* Dialog */

.bp3-dialog.zr-auxiliary-dialog--webimport {
    width: calc(95% - 44vw);
    margin-left: calc(22vw + 2.5%);
    transition: 0.5s;
}
.bp3-dialog.zr-auxiliary-dialog--webimport.has-selected-items {
    width: calc(95% - 22vw);
}

.bp3-dialog.zr-auxiliary-dialog--webimport > .bp3-dialog-body {
    display: flex;
}

.zr-webimport-panel--main {
    flex: 1 1 auto;
    padding-bottom: 20px;
}

.zr-webimport-panel--side {
    flex: 0 0 0%;
    overflow: auto;
    transition: 0.5s;
}

.has-selected-items .zr-webimport-panel--side {
    flex: 1 0 22vw;
    display: block;
    padding: 0px 15px;
}

.zr-webimport-item > .bp3-menu-item{flex-wrap:wrap;}
.zr-webimport-item > .bp3-menu-item:hover {
    background-color:unset;
    cursor:unset;
}

.bp3-control.zr-webimport-item--title {
    margin-bottom: 0px;
}

.zr-webimport-item .zr-webimport-item--publication,
.zr-webimport-item .zr-webimport-item--abstract {
    display:block;
}

.zr-webimport-item .zr-webimport-item--abstract {
    background: #e8ecf6;
    border-radius: 6px;
    margin-top: 5px;
    padding: 10px;
}

.zr-webimport-item .zr-webimport-item--contents{padding-left:25px;}

/* DARK THEMES */

@media (prefers-color-scheme: dark){
    .zr-webimport-item .zr-webimport-item--abstract {
        background-color: var(--zr-dark-selected-bc,#191919);
    }
}
