.zr-webimport-div {
    position:absolute;
    right:0px;
    opacity:0.7;
    z-index: 10;
}


/* Dialog */

.bp3-dialog.zr-auxiliary-dialog--webimport {
    width: calc(95% - 44vw);
    margin-left: calc(22vw + 2.5%);
    transition: 0.5s;
}
.bp3-dialog.zr-auxiliary-dialog--webimport.has-selected-items {
    width: calc(95% - 22vw);
}

.bp3-dialog.zr-auxiliary-dialog--webimport > .bp3-dialog-body {
    display: flex;
}

.zr-webimport-panel--main {
    flex: 1 1 auto;
    padding-bottom: 20px;
}

.zr-webimport-panel--side {
    flex: 0 0 0%;
    overflow: auto;
    transition: 0.5s;
}

.has-selected-items .zr-webimport-panel--side {
    flex: 1 0 22vw;
    display: block;
    padding: 0px 15px;
}

li.zr-webimport-item {
    background: white;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 5px;
}

.zr-webimport-item > .bp3-menu-item {
    flex-wrap: wrap;
}

.zr-webimport-item > .bp3-menu-item:hover {
    background-color:unset;
}

.bp3-checkbox.bp3-control.zr-webimport-item--title {
    font-weight: 500;
    margin-bottom: 0px;
}

.bp3-checkbox.bp3-control.zr-webimport-item--title .bp3-control-indicator {
    background-image: none;
    border-radius: 8px;
    outline: var(--zr-highlight,#206fe6) dotted 1px;
}

.bp3-checkbox.bp3-control.zr-webimport-item--title:hover input:checked ~ .bp3-control-indicator {
    background-color: var(--zr-highlight,#206fe6);
    outline-style: auto;
}

.zr-webimport-item--header,
.zr-webimport-item--contents {
    align-items: baseline;
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
}

.zr-webimport-item--header [zr-role="item-type"] {
    flex: 0 0 auto;
}

.zr-webimport-item--contents {
    flex-wrap: wrap;
    padding-left:25px;
}

zr.zr-webimport-item--contents [zr-role="item-creators"] {
    margin-right: 10px;
}

.zr-webimport-item--contents [zr-role="item-abstract"] {
    background: #e8ecf6;
    border-radius: 6px;
    display: block;
    flex: 0 0 100%;
    margin-top: 5px;
    padding: 7px;
}

/* DARK THEME */

[zr-dark-theme="true"] .zr-webimport-item {
    background-color: var(--zr-dark-elem-bg, #2B3143);
}

[zr-dark-theme="true"] .zr-webimport-item .zr-webimport-item--abstract {
    background-color: var(--zr-dark-selected-bc,#191919);
}

[zr-dark-theme="true"] .bp3-checkbox.bp3-control.zr-webimport-item--title .bp3-control-indicator {
    background-color: var(--zr-dark-dialog-bg, #242424);
    outline-color: var(--zr-dark-highlight,#3fb8ff);
    outline-style: solid;
}

[zr-dark-theme="true"] .zr-webimport-item .bp3-tag.bp3-minimal .bp3-text-overflow-ellipsis {
    color: var(--zr-dark-text-co, #76a0cb);
}
