.bp3-dialog[class*="zr-auxiliary-dialog--"] {
    align-self: baseline;
    padding-bottom:0px;
    box-shadow: none;
}

.bp3-dialog[class*="zr-auxiliary-dialog--"] h4.bp3-heading {
    font-size: 1rem;
}

.bp3-dialog[class*="zr-auxiliary-dialog--"] .bp3-dialog-body {
    margin: 0px;
}

.bp3-dialog[class*="zr-auxiliary-dialog--"] .rendered-div {
    padding: 0px 20px;
    font-size: 0.9em;
}

.bp3-dialog[class*="zr-auxiliary-dialog--"] .rendered-div ul.bp3-menu,
.bp3-dialog[class*="zr-auxiliary-dialog--"] .rendered-div > ul {
    max-height: 70vh;
    overflow-y: scroll;
    scrollbar-width: 5px;
    scrollbar-color: #8c8c8c #ececec;
}

.bp3-dialog[class*="zr-auxiliary-dialog--"] .rendered-div ul.bp3-menu::-webkit-scrollbar,
.bp3-dialog[class*="zr-auxiliary-dialog--"] .rendered-div > ul::-webkit-scrollbar {
    width: 5px;
}

.bp3-dialog[class*="zr-auxiliary-dialog--"] .rendered-div ul.bp3-menu::-webkit-scrollbar-thumb,
.bp3-dialog[class*="zr-auxiliary-dialog--"] .rendered-div > ul::-webkit-scrollbar-thumb {
    background: #cccccc;
}

.bp3-dialog[class*="zr-auxiliary-dialog--"] .header-content {
    width:100%;
    margin:0;
    display:flex;
    flex-wrap:wrap;
    margin-bottom: 15px;
}

.bp3-dialog[class*="zr-auxiliary-dialog--"] .header-left {
    flex: 0 1 66%;
    padding-top:5px;
    padding-left:min(20px, 2vw);
    overflow-wrap:anywhere;
}

.bp3-dialog[class*="zr-auxiliary-dialog--"] .header-right {
    flex: 0 1 34%;
    text-align: right;
}

.bp3-dialog[class*="zr-auxiliary-dialog--"] h5.panel-tt {
    font-weight:600;
    display:inline-block;
    padding-right:15px;
}

.zr-related-item > .bp3-menu-item:hover {background-color:unset;cursor:unset;}
.zr-related-item-contents--metadata{flex: 0 1 100%;}
.zr-related-item-contents--metadata .zr-highlight:not(:empty),
.zr-related-item-contents--metadata .zr-highlight-2:not(:empty) {padding-right: 8px;}
.zr-related-item-contents--metadata .zr-related-item--decorating-icon {margin: 0px 10px;}
.zr-related-item-contents--actions{text-align:right;flex: 1 0 auto;}
.zr-related-item-contents--actions button.bp3-small, .zr-related-item-contents--actions a{opacity:0.6;overflow-wrap: break-word;}
.zr-related-item-contents--actions button .bp3-button-text {overflow-wrap: anywhere;}
.zr-related-item-contents--actions a[zr-role="item-url"] {display:block;}
.zr-related-item-contents--actions a[zr-role="item-url"]:hover {text-decoration: none;}

/* DARK THEME */

[zr-dark-theme="true"] .bp3-dialog[class*="zr-auxiliary-dialog--"],
[zr-dark-theme="true"] .bp3-dialog[class*="zr-auxiliary-dialog--"] > .bp3-dialog-header {
    background: var(--zr-dark-dialog-bg, #242424);
}
[zr-dark-theme="true"] .bp3-dialog[class*="zr-auxiliary-dialog--"] .rendered-div ul.bp3-menu {
    background: var(--zr-dark-dialog-bg, #242424);
    border-width: 1px;
    border-style: solid;
    border-color: var(--zr-dark-border-color,#363a3f);
}
[zr-dark-theme="true"] .bp3-dialog[class*="zr-auxiliary-dialog--"] .rendered-div ul.bp3-menu::-webkit-scrollbar-thumb,
[zr-dark-theme="true"] .bp3-dialog[class*="zr-auxiliary-dialog--"] .rendered-div > ul::-webkit-scrollbar-thumb {
    background: var(--zr-dark-border-color,#363a3f);
}
[zr-dark-theme="true"] .bp3-dialog[class*="zr-auxiliary-dialog--"] h4.bp3-heading,
[zr-dark-theme="true"] .bp3-dialog[class*="zr-auxiliary-dialog--"] .rendered-div ul.bp3-menu,
[zr-dark-theme="true"] .bp3-dialog[class*="zr-auxiliary-dialog--"] h5.panel-tt,
[zr-dark-theme="true"] .zr-related-item,
[zr-dark-theme="true"] .zr-related-item-contents--actions a[zr-role="item-url"],
[zr-dark-theme="true"] .zr-related-item-contents--actions a[zr-role="item-url"]:hover {
    color: var(--zr-dark-text-co, #76a0cb);
}
[zr-dark-theme="true"] .bp3-dialog[class*="zr-auxiliary-dialog--"] .bp3-button.bp3-minimal.bp3-intent-primary {
    color: var(--zr-dark-text-co, #76a0cb);
    background-color: var(--zr-dark-elem-bg, #2B3143);
}
[zr-dark-theme="true"] .bp3-dialog[class*="zr-auxiliary-dialog--"] .bp3-button.bp3-minimal.bp3-intent-primary.bp3-active {
    background-color: var(--zr-dark-text-co, #76a0cb);
    color: var(--zr-dark-elem-bg, #2B3143);
}
