.bp3-button-group .bp3-button.zr-tag-suggestion--auto-merge,
.bp3-button-group .bp3-button.zr-tag-suggestion--auto-merge.bp3-active,
.bp3-button-group .bp3-button.zr-tag-suggestion--auto-merge:hover,
.bp3-button-group .bp3-button.zr-tag-suggestion--auto-merge .bp3-icon {
    background-color: hsla(var(--zr-accent-1-co), 70%);
    color: white;
}

.bp3-button-group .bp3-button.zr-tag-suggestion--merge-as,
.bp3-button-group .bp3-button.zr-tag-suggestion--merge-as.bp3-active,
.bp3-button-group .bp3-button.zr-tag-suggestion--merge-as:hover {
    background-color: hsla(var(--zr-accent-1-co), 10%);
    color: hsla(var(--zr-accent-1-co), 70%);
}

.bp3-button-group .bp3-button.zr-tag-suggestion--merge-as .bp3-icon {
    color: hsla(var(--zr-accent-1-co), 70%);
}
