.zr-notesimport--datalist {
	margin-bottom: 20px;
	padding: 0px 15px;
}

li.zr-notesimport-daylist {
	padding: 5px;
}

.zr-notesimport-daylist .bp3-checkbox .bp3-heading {
	color: var(--zr-text-co);
}

.zr-notesimport-daylist .bp3-checkbox .bp3-heading,
.zr-notesimport-item .bp3-checkbox [zr-role="note-contents"] {
	display: inline-table;
	margin-bottom: 0px;
}

.bp3-checkbox.bp3-control.zr-notesimport-day .bp3-control-indicator,
.bp3-checkbox.bp3-control.zr-notesimport-item--title .bp3-control-indicator {
    background-image: none;
    border-radius: 8px;
    box-shadow: none;
    outline: hsla(var(--zr-accent-1-hsl), 75%) dotted 1px;
}

.bp3-checkbox.bp3-control.zr-notesimport-day .bp3-control-indicator,
.bp3-checkbox.bp3-control.zr-notesimport-day .bp3-control-indicator::before {
    height: 0.9em;
    width: 0.9em;
}

.bp3-checkbox.bp3-control.zr-notesimport-day input:checked ~ .bp3-control-indicator,
.bp3-checkbox.bp3-control.zr-notesimport-item--title input:checked ~ .bp3-control-indicator {
    background-color: hsla(var(--zr-accent-1-hsl), 75%);
    outline-style: none;
}
