.bp3-tab-panel.zr-settings {
    max-height: 80vh;
    overflow-y: scroll;
}

.zr-settings-list {
    display: flex;
    flex-direction: column;
}

.zr-settings-list .bp3-heading {
    font-size: 1.15rem;
    margin: 5px 0px;
}

.zr-settings-list > button {
    align-self: self-end;
}

.zr-settings-list [zr-role="settings-requests"] {
    display: flex;
    justify-content: space-evenly;
}

.zr-settings-list .zr-settings--card {
    border: 1px var(--zr-border-co) solid;
    border-radius: 3px;
    color: var(--zr-text-co);
    flex: 0 0 45%;
    padding: 5px 10px;
}

.zr-settings-list [zr-role="settings-scite"] {
    display: flex;
    justify-content: space-between;
}

.zr-settings-list [zr-role="settings-scite"] input.bp3-input {
    background: var(--zr-box-bg);
    color: var(--zr-text-co);
}

.zr-settings-list [zr-role="settings-scite"] .bp3-control.bp3-radio {
    color: var(--zr-text-co);
}

.zr-settings-list [zr-role="settings-typemap"] [zr-role="settings-row"] > div {
    text-align: right;
}

.zr-settings-list [zr-role="settings-typemap"] input.bp3-input {
    background: var(--zr-box-bg);
}

[zr-role="settings-row"] {
    align-items: baseline;
    display: flex;
    font-size: 0.9em;
    justify-content: space-between;
    margin: 5px 0px;
}

[zr-role="settings-row"] > span {
    flex: 1 0 35%;
    min-width: auto;
}

[zr-role="settings-row"] > div {
    flex: 0 1 70%;
}
