.zr-settings-list {
    display: flex;
    flex-direction: column;
}

.zr-settings-list .bp3-heading {
    color: var(--zr-text-co);
    font-size: 1.15rem;
    margin: 10px 0px;
}

.zr-settings-list .bp3-heading ~ .bp3-heading {
    border-top: 1px var(--zr-border-co) solid;
    padding-top: 10px;
}

.zr-settings-list > button {
    align-self: self-end;
}

.zr-settings-list > div {
    padding-right: 12px;
}

.zr-settings-list [zr-role*="settings-"] input.bp3-input {
    background: var(--zr-box-bg);
    color: var(--zr-text-co);
}

.zr-settings-list [zr-role="settings-requests"] {
    display: flex;
    justify-content: space-evenly;
}

.zr-settings-list .zr-settings--card {
    border: 1px var(--zr-border-co) solid;
    border-radius: 3px;
    color: var(--zr-text-co);
    flex: 0 0 45%;
    padding: 5px 10px;
}

.zr-settings-list [zr-role="settings-scite"] {
    display: flex;
    justify-content: space-between;
}

[zr-role="settings-scite"] > div:first-child {
    background: var(--zr-box-bg);
    padding: 10px;
}

[zr-role="settings-scite"] [zr-role="settings-row"] > div {
    flex: 0 1 50%;
}

.zr-settings-list [zr-role="settings-scite"] input.bp3-input {
    max-width: 100%;
}

.zr-settings-list [zr-role="settings-scite"] .bp3-numeric-input input.bp3-input {
    max-width: 40px;
}

.zr-settings-list [zr-role="settings-scite"] .bp3-control.bp3-radio {
    color: var(--zr-text-co);
}

.zr-settings-list [zr-role="settings-scite"] [zr-role="scite-example"] {
    padding: 15px;
}

.zr-settings-list [zr-role="settings-typemap"] [zr-role="settings-row"] > div,
.zr-settings-list [zr-role="settings-autocomplete"] [zr-role="settings-row"] > div {
    text-align: right;
}

[zr-role="settings-row"] {
    align-items: baseline;
    display: flex;
    font-size: 0.9em;
    justify-content: space-between;
    margin: 5px 0px;
}

[zr-role="settings-row"] > span {
    flex: 1 0 35%;
    min-width: auto;
}

[zr-role="settings-row"] > div {
    flex: 1 1 auto;
}
