#zotero-roam-search-autocomplete {
    box-shadow: none;
    font-size: 13px;
    border-bottom: 1px #f2f2f2 solid;
}
#zotero-roam-search-autocomplete::placeholder {opacity:0.6;}
#zotero-roam-search-autocomplete:focus {box-shadow:none;}
#zotero-roam-search-autocomplete {
    color: #717171;
}

label.zr-quick-copy {
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 0px;
}

/* QueryList */

.zr-dialog-overlay--search-library .zr-querylist .bp3-input-group.bp3-input {
    padding: unset;
}

.zr-dialog-overlay--search-library .zr-querylist .bp3-input-group .bp3-input-left-container > * {
    margin-right: 10px;
}

.zr-dialog-overlay--search-library .zr-querylist .bp3-input-group .bp3-input-action {
    display: flex;
    align-items: center;
}

#zotero-roam-library-rendered .bp3-menu {
    max-height: 70vh;
    overflow-y: scroll;
    background: unset;
    padding: 0px;
}

#zotero-roam-library-rendered .bp3-menu::-webkit-scrollbar {
  width: 0px;
}

#zotero-roam-library-rendered .zr-querylist--more-results {
    border-top: 1px #f2f2f2 solid;
    color: var(--zr-highlight-2,#d9822b);
    font-size: var(--zr-text-small, 0.85rem);
    font-weight: 500;
    padding: 3px 10px;
}

.zr-dialog-overlay--search-library .zotero-roam-search_result {
    padding: 3px 10px;
    font-size: 0.9em;
}

.zr-dialog-overlay--search-library .zr-library-item--contents {
    white-space: normal;
}

.zr-dialog-overlay--search-library .zotero-roam-search_result .zr-library-item--key {
    flex: 0 0 auto;
    padding: 0px 6px;
    font-size: 0.8em;
    text-align: right;
}

.zr-dialog-overlay--search-library .zotero-roam-search_result[data-in-graph="true"] .zr-library-item--key {
    background-color: #d6ffe1;
    color: #429965;
    font-weight: 500;
    border-radius: 3px;
}

/* SMALLER DISPLAYS */

.roam-body.mobile + #zotero-roam-portal .zr-quick-copy{ display:none; }

/* DARK THEME */

[zr-dark-theme="true"] #zotero-roam-search-autocomplete {
    background: var(--zr-dark-dialog-bg, #242424);
    border-bottom-color: var(--zr-dark-border-color,#363a3f);
    color: var(--zr-dark-text-co,#76a0cb);
}
[zr-dark-theme="true"] #zotero-roam-search-autocomplete::placeholder {
    opacity:0.8;
}
#zotero-roam-library-rendered .zr-querylist--more-results {
    border-top-color: var(--zr-dark-border-color,#363a3f);
    color: var(--zr-dark-highlight-2,#d9822b);
}
[zr-dark-theme="true"] .zr-dialog-overlay--search-library .zotero-roam-search_result[data-in-graph="true"] .zr-library-item--key {
    background-color: var(--zr-dark-positive-bc, #5863582e);
    color: var(--zr-dark-positive-co, #86f686);
}
[zr-dark-theme="true"] .zr-dialog-overlay--search-library .zr-library-item--contents {
    color: var(--zr-dark-text-co,#76a0cb);
}
