#zotero-roam-search-autocomplete {
    background: var(--zr-box-bg);
    border-bottom: 1px var(--zr-border-co) solid;
    box-shadow: none;
    color: var(--zr-auxiliary);
    font-size: 13px;
}
#zotero-roam-search-autocomplete::placeholder {
    opacity: 0.8;
}
#zotero-roam-search-autocomplete:focus {
    box-shadow:none;
}

label.zr-quick-copy {
    font-weight: var(--zr-secondary-fw);
    font-size: var(--zr-text-small);
    margin-bottom: 0px;
}

/* QueryList */

.zr-library-search-input-group.bp4-input {
    background: none;
    box-shadow: none;
    padding: unset;
}

.zr-library-search-input-group .bp4-input-left-container > * {
    margin-right: 10px;
}

.zr-library-search-input-group .bp4-input-action {
    display: flex;
    align-items: center;
}

#zotero-roam-library-rendered .bp4-menu {
    max-height: 70vh;
    overflow-y: scroll;
    background: unset;
    padding: 0px;
}

#zotero-roam-library-rendered .bp4-menu::-webkit-scrollbar {
  width: 0px;
}

#zotero-roam-library-rendered .zr-querylist--more-results {
    border-top: 1px var(--zr-border-co) solid;
    color: var(--zr-accent-2);
    font-size: var(--zr-text-small);
    font-weight: 500;
    padding: 3px 10px;
}

.zr-dialog-overlay--search-library .zotero-roam-search_result {
    padding: 3px 10px;
    font-size: 0.9em;
}

.zr-dialog-overlay--search-library .zr-library-item--contents {
    color: var(--zr-text-co);
    white-space: normal;
}

.zotero-roam-search_result .zr-library-item--key {
    flex: 0 0 auto;
    padding: 0px 6px;
    font-size: var(--zr-text-small);
    text-align: right;
}

.zotero-roam-search_result .zr-library-item--title {
    display: block;
    font-weight: 500;
}

.zr-dialog-overlay--search-library .zotero-roam-search_result[data-in-graph="true"] .zr-library-item--key {
    background-color: var(--zr-positive-bg);
    border-radius: 3px;
    color: var(--zr-positive-co);
    font-weight: 500;
}

/* SMALLER DISPLAYS */

.roam-body.mobile + #zotero-roam-portal .zr-quick-copy {
    display: none;
}
