.bp3-dialog.zr-auxiliary-dialog--related {
    margin: 10vh 0;
    margin-left: calc(16vw + 2.5%);
    width: calc(95% - 32vw);
}

.bp3-dialog.zr-auxiliary-dialog--related [zr-role="toggle-abstracts"] {
    margin: 0px 15px;
}
.bp3-dialog.zr-auxiliary-dialog--related [zr-role="abstract-toggle"] {
    background: none;
}
.bp3-dialog.zr-auxiliary-dialog--related [zr-role="abstract-text"] {
    display: block;
    padding: 10px;
    padding-top: 0px;
    line-height: 1.4em;
    text-align: justify;
    white-space: break-spaces;
}

.zr-related-item--timestamp{margin-right:10px;padding: 0px 6px;}

.zr-related-item--abstract {
    background: #e8ecf6;
    display: inline-block;
    border-radius: 6px;
    margin-top: 5px;
}

/* SMALLER DISPLAYS */
@media (max-width: 1000px){
    .bp3-dialog.zr-auxiliary-dialog--related {
        margin-left: calc(10vw + 2.5%);
        width: calc(95% - 20vw);
    }
}

@media (max-width: 700px){
    .bp3-dialog.zr-auxiliary-dialog--related {
        margin-left: calc(5vw + 2.5%);
        width: calc(95% - 10vw);
    }
}

/* DARK THEME */

[zr-dark-theme="true"] .bp3-dialog.zr-auxiliary-dialog--related [zr-role="toggle-abstracts"]{
    background-color: var(--zr-dark-elem-bg, #2B3143);
    color: var(--zr-dark-text-co, #76a0cb);
}
[zr-dark-theme="true"] .zr-related-item--abstract {
    background-color: var(--zr-dark-selected-bc,#191919);
}
