.zr-auxiliary-dialog--related.bp4-dialog {
    --zr-dialog-gutter: 2.5%;
    --zr-dialog-margin: 16vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.zr-auxiliary-dialog--related [zr-role="toggle-abstracts"] {
    color: var(--zr-text-co);
    margin: 0px 15px;
}

.zr-auxiliary-dialog--related [zr-role="abstract-toggle"] {
    background: none;
}

.zr-auxiliary-dialog--related [zr-role="abstract-text"] {
    display: block;
    padding: 10px;
    padding-top: 0px;
    line-height: 1.4em;
    text-align: justify;
    white-space: break-spaces;
}

.zr-related-item--timestamp{
    margin-right:10px;
    padding: 0px 6px;}

.zr-related-item--abstract {
    background: var(--zr-box-bg);
    border: 1px var(--zr-border-co) solid;
    display: inline-block;
    border-radius: 6px;
    margin-top: 5px;
}

.zr-related-item--title {
    display: block;
    font-size: var(--zr-text-small);
    font-weight: 500;
    white-space: normal;
}
