.zr-datalist--toolbar {
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

ul.zr-datalist--listwrapper {
    list-style-type: none;
    margin-bottom: 0px;
    max-height: 70vh;
    overflow-y: scroll;
    padding-left: 0px;
}

.zr-datalist--toolbar .bp3-button.bp3-minimal, .zr-datalist--toolbar .bp3-button.bp3-minimal .bp3-icon {
    color: var(--zr-text-co);
}

.zr-datalist--toolbar > .bp3-form-group,
.zr-datalist--toolbar > .bp3-switch {
    margin-bottom: 0px;
}

.zr-datalist--toolbar > label.bp3-switch {
    color: var(--zr-text-co);
    font-weight: normal;
}

.zr-datalist--toolbar > .bp3-slider {
    margin-top: 20px;
    width: auto;
}

.zr-datalist--pagination {
    color: var(--zr-text-co);
    display: flex;
}

.zr-datalist--pagination [zr-role="items-count"] {
    padding: 5px 10px;
}

/* SMALLER DISPLAYS */

@media (max-width: 700px){
    .zr-datalist--toolbar {
        flex-direction: column;
    }
    .zr-datalist--toolbar > * {
        justify-content: space-between;
        width: 100%;
    }
}
