.bp3-dialog.zr-auxiliary-dialog--dashboard {
    width: calc(95% - 30vw);
    margin-left: calc(15vw + 2.5%);
}

.zr-dashboard--main > .bp3-tabs > * {
    padding: 10px;
}

.zr-dashboard--main .bp3-tab-panel {
    background: white;
    flex: 0 1 100%;
}

.zr-dashboard--main .bp3-tab > .bp3-icon {
    margin-right: 8px;
}

/* SMALLER DISPLAYS */

@media (max-width: 1000px){
    .bp3-dialog.zr-auxiliary-dialog--dashboard {
        width: calc(95% - 10vw);
        margin-left: calc(5vw + 2.5%);
    }
    .zr-dashboard--main .bp3-tab-list .bp3-tab .bp3-icon {
        margin-right: 0px;
    }
    .zr-dashboard--main .bp3-tab-list .bp3-tab .bp3-icon + * {
        display: none;
    }
}

/* DARK THEMES */

@media (prefers-color-scheme: dark){
    .zr-dashboard--main .bp3-tab-panel,
    .zr-dashboard--main > .bp3-tabs > .bp3-tab-list > .bp3-tab[aria-selected="true"] {
        background: var(--zr-dark-selected-bc,#191919);
    }
}
