.bp3-dialog.zr-auxiliary-dialog--dashboard {
    width: calc(95% - 30vw);
    margin-left: calc(15vw + 2.5%);
}

.zr-dashboard--main > .bp3-tabs > * {
    padding: 10px;
}

.zr-dashboard--main > .bp3-tabs > .bp3-tab-list {
    background: white;
    padding: 5px;
}

.zr-dashboard--main .bp3-tab-panel {
    flex: 0 1 100%;
    margin-top: 10px;
}

.zr-dashboard--library-select {
    background: #ffffff7a;
    font-weight: bold;
}

/* SMALLER DISPLAYS */

@media (max-width: 1000px){
    .bp3-dialog.zr-auxiliary-dialog--dashboard {
        width: calc(95% - 10vw);
        margin-left: calc(5vw + 2.5%);
    }
    .zr-dashboard--main .bp3-tab-list .bp3-tab .bp3-icon {
        margin-right: 0px;
    }
    .zr-dashboard--main .bp3-tab-list .bp3-tab .bp3-icon + * {
        display: none;
    }
}

/* DARK THEME */

[zr-dark-theme="true"] .zr-dashboard--main > .bp3-tabs > .bp3-tab-list {
    background: var(--zr-dark-dialog-bg, #242424);
}

[zr-dark-theme="true"] .zr-dashboard--main .bp3-tab-panel,
[zr-dark-theme="true"] .zr-dashboard--main > .bp3-tabs > .bp3-tab-list > .bp3-tab[aria-selected="true"] {
    background: var(--zr-dark-selected-bc,#191919);
}

[zr-dark-theme="true"] .zr-dashboard--library-select.bp3-button.bp3-minimal {
    background: var(--zr-dark-selected-bc,#191919);
    color: var(--zr-dark-text-co, #76a0cb);
}
