.bp3-dialog.zr-auxiliary-dialog--dashboard {
    width: calc(95% - 30vw);
    margin-left: calc(15vw + 2.5%);
}

.zr-dashboard--main {
    padding: 10px;
}

.zr-dashboard--main .bp3-tab-panel {
    flex: 0 1 100%;
}

.zr-dashboard--main .bp3-tab > .bp3-icon {
    margin-right: 8px;
}

.zr-tagmanager--header {
    margin: 5px 0px;
}

.zr-tagmanager--datalist .zr-datalist--toolbar {
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.zr-datalist--listwrapper {
    max-height: 60vh;
    overflow-y: scroll;
}

.zr-tagmanager--datalist .zr-datalist--toolbar > .bp3-form-group {
    margin-bottom: 0px;
}
.zr-tagmanager--datalist .zr-datalist--toolbar > .bp3-switch {
    margin-bottom: 0px;
}

.zr-datalist--pagination {
    display: flex;
}

.zr-datalist--pagination [zr-role="items-count"] {
    padding: 5px 10px;
}

.zr-datalist--item {
    align-items: center;
    background:white;
    border-bottom:1px #f5f5f5 solid;
    display:flex;
    justify-content: space-between;
    padding: 5px 15px;
}
.zr-datalist--item:last-child{border-bottom-width: 0px;}
.zr-datalist--item [zr-role="title"] {font-weight:600;margin-right:15px;}
.zr-datalist--item [zr-role="title"]::before {content: '# '}
.zr-datalist--item [zr-role="taglist"] {margin:5px;}

.zr-datalist--item-actions {
    display: flex;
    flex: 0 0 auto;
}

.zr-datalist--item-actions .bp3-button-group .bp3-button {
    opacity: 0.7;
}

.zr-datalist--item-actions input.bp3-input {
    background: #95949412;
    box-shadow: none;
}

.zr-tag--zotero.bp3-tag.bp3-minimal:not([class*="bp3-intent-"]).bp3-active {
    color: var(--zr-highlight-2,#d9822b);;
    background-color: #fff5e7;
}

.zr-tag--roam.bp3-tag.bp3-minimal:not([class*="bp3-intent-"]).bp3-active {
    color: var(--zr-highlight,#206fe6);
    background-color: #e7f5ff;
}

.zr-datalist--stats {
    padding: 5px 0px;
    text-align: right;
}
.zr-datalist--stats span {
    display: block;
}

/* Popover */

label[data-tag-source] {color: #b3b3b3;background:#f9f9f9;border: 1px #e9e9e9 solid;font-weight:400;padding-top:4px;padding-bottom:4px;padding-right:15px;border-radius:5px;max-width:fit-content;}
[data-tag-source] .bp3-control-indicator {margin-left: -15px!important;border-radius:10px!important;}
[data-tag-source="roam"] input:checked ~ .bp3-control-indicator {background-color: #48a5e7;box-shadow: none;}
[data-tag-source="roam"] input:checked ~ .zr-tag-name {color: #48a5e7;}
[data-tag-source="zotero"] input:checked ~ .bp3-control-indicator {background-color: #e1881a;box-shadow: none;}
[data-tag-source="zotero"] input:checked ~ .zr-tag-name {color: #e1881a;}

/* DARK THEMES */

@media (prefers-color-scheme: dark){
    .zr-dashboard--main > .bp3-tabs > .bp3-tab-list > .bp3-tab[aria-selected="true"] {
        background: var(--zr-dark-selected-bc,#191919);
    }
    .zr-datalist--listwrapper,
    .zr-datalist--item {
        background: var(--zr-dark-selected-bc,#191919);
        border-color: var(--zr-dark-border-color,#363a3f);
    }
    .zr-datalist--toolbar label,
    .zr-datalist--toolbar select,
    .zr-datalist--pagination {
        color: var(--zr-dark-text-co, #76a0cb);
    }
    .zr-tag--roam.bp3-tag.bp3-minimal:not([class*="bp3-intent-"]).bp3-active {
        background-color: #e7f5ff14;
        color: var(--zr-dark-highlight,#3fb8ff);
    }
    .zr-tag--zotero.bp3-tag.bp3-minimal:not([class*="bp3-intent-"]).bp3-active {
        background-color: #fff5e714;
        color: var(--zr-dark-highlight-2,#d9822b);
    }
}
