.zr-guide-popover .bp3-popover2-content {
    font-size: var(--zr-text-small, 0.85rem);
    padding: 10px;
}

.zr-guide-popover--target .bp3-icon {
    color: var(--zr-highlight,#206fe6);
}

/* DARK THEME */

[zr-dark-theme="true"] .zr-guide-popover--target .bp3-icon {
    color: var(--zr-dark-highlight,#3fb8ff);
}
