.zr-recentitems--datalist
    display: flex
    flex-direction: column
    font-size: var(--zr-text-small)
    min-height: 100%

    & > *
        flex: 1 1 auto

    & > .zr-datalist--toolbar
        flex: 0 1 auto

    h5
        color: var(--zr-text-co)
        font-weight: bold
        margin: 15px 10px
