/* Imported */

#zotero-roam-portal .bp3-overlay-backdrop{opacity:0.4;}

#zotero-roam-portal .bp3-dark .side-panel{background-color:#30404d;}
#zotero-roam-portal .side-panel > .side-panel-contents > *{padding:10px 20px;}
.zotero-roam-dialog-small .bp3-dialog-container{justify-content:start;}
.zotero-roam-citations-search-overlay .bp3-dialog:not(.bp3-dark), .zr-tab-panel-popover .bp3-dialog:not(.bp3-dark){background:white;}

.zotero-roam-citations-search-overlay .main-panel{width:100%;}

#zotero-roam-portal .controls-top{display:flex;width:100%;justify-content:flex-end;font-weight:300;}
#zotero-roam-portal .header-content{width:100%;margin:0;display:flex;flex-wrap:wrap;}
h5.panel-tt{font-weight:600;display:inline-block;padding-right:15px;}
h5.panel-tt[list-type="library"], h5.panel-tt[list-type="references"], .zr-search-scope{color:#137cbd;}
h5.panel-tt[list-type="citations"]{color:#d9822b;}
.bp3-dark h5.panel-tt[list-type="library"], .bp3-dark h5.panel-tt[list-type="references"], .bp3-dark .zr-search-scope{color:#48aff0;}
.bp3-dark h5.panel-tt[list-type="citations"]{color:#ffb366;}
#zotero-roam-portal .header-left{flex: 0 1 66%;padding-top:5px;padding-left:min(20px, 2vw);overflow-wrap:anywhere;}
#zotero-roam-portal .header-left .bp3-spinner{width:fit-content;}
#zotero-roam-portal .header-right{flex: 0 1 34%;}

#zotero-roam-portal .zotero-roam-citations-search-overlay .header-bottom {margin-top:0px;}
#zotero-roam-portal .header-bottom{flex: 1 0 95%;display:flex;justify-content:space-between;margin: min(20px, 3vh) 2.5%;align-items:baseline;}
.zr-search-scope {font-weight:500;flex:1 0 auto;}
.zotero-roam-overlay-close.bp3-large{margin-right:3px;}
.zotero-roam-overlay-close{margin:0;padding:0;min-width:41px;}

#zotero-roam-citations-autocomplete{flex:1 0 100%;}

#zotero-roam-search-autocomplete::placeholder, #zotero-roam-citations-autocomplete::placeholder{opacity:0.6;}
#zotero-roam-search-autocomplete:focus, #zotero-roam-citations-autocomplete:focus, #zotero-roam-tagselector_citations:focus{box-shadow:none;}
:not(.bp3-dark) #zotero-roam-search-autocomplete, :not(.bp3-dark) #zotero-roam-citations-autocomplete{border-bottom: 1px #ececec solid;color: #717171;}
.bp3-dark #zotero-roam-search-autocomplete, .bp3-dark #zotero-roam-citations-autocomplete{border-bottom: 1px #2f4d75 solid;}

li[aria-selected="true"] > .bp3-menu-item, .zotero-roam-tagselector_option[aria-selected="true"]{background-color:#e7f3f7;}
.bp3-dark li[aria-selected="true"]{background-color:#191919;}
#zotero-roam-citations-pagination > .bp3-button-group{margin:5px 0;}
#zotero-roam-search-results-list.bp3-menu, .zotero-roam-citations-search-results-list.bp3-menu {max-height:70vh;overflow-y:scroll;background:unset;padding:0px;padding-bottom:10px;}
#zotero-roam-search-results-list::-webkit-scrollbar, .zotero-roam-citations-search-results-list::-webkit-scrollbar, .zotero-roam-import-tags-list::-webkit-scrollbar{width: 5px;}
#zotero-roam-search-results-list::-webkit-scrollbar:hover, .zotero-roam-citations-search-results-list::-webkit-scrollbar:hover{background:#ececec;}
.zotero-roam-search-item-title{font-weight:500;display:block;}

.zotero-roam-library-results-count:empty {padding: 0px;}
.zotero-roam-library-results-count{display:block;padding:min(6px, 0.2em) 0;}
.zotero-roam-citations-results-count, .zotero-roam-tag-list-count {padding: 6px 10px;}

.zotero-roam-citations-search_result{padding:3px 6px;}
.zotero-roam-citations-search_result[in-library="true"]{background-color:#f3fdf3;border-left: 2px #a4f1a4 solid;}
.bp3-dark .zotero-roam-citations-search_result[in-library="true"]{background-color:#5863582e;}
.zotero-roam-page-control > span[icon]{margin-right:0px;}

.item-basic-metadata, .item-additional-metadata {background:#f5f8fa;}
.bp3-dark .item-basic-metadata, .bp3-dark .item-additional-metadata, .bp3-dark .zotero-roam-citation-abstract{background-color:#2b3135;}

.zotero-roam-sequence{background-color:#c79f0c;padding:3px 6px;border-radius:3px;font-size:0.85em;font-weight:normal;color:white;}
.controls-top .zotero-roam-sequence {background: unset;color: #c79f0c;}

.backlinks-list_divider{display: flex;align-items: center;margin: 10px 5px;}
.backlinks-list_divider hr{flex: 0 1 100%;}
.zotero-roam-search_result > .bp3-menu-item, .zotero-roam-citations-search_result > .bp3-menu-item {justify-content:space-between;user-select:initial;padding: 3px 10px;}
.zotero-roam-citations-search_result > .bp3-menu-item:hover, .zr-related-item > .bp3-menu-item:hover, .zr-datalist-item > .bp3-menu-item:hover {background-color:unset;cursor:unset;}
.zotero-roam-citation-metadata, .zotero-roam-search-item-contents{flex: 0 1 97%;white-space:normal;}

.zotero-roam-citations-search_result .zotero-roam-search-item-key {flex-wrap:wrap;}

.zotero-roam-search_result .zotero-roam-search-item-key .bp3-icon {padding:6px;}
.zotero-roam-search-item-key{flex: 1 0 20%;text-align:right;overflow-wrap:anywhere;font-size:0.8em;display:flex;align-items:center;justify-content:flex-end;}
.zotero-roam-search-item-key .zotero-roam-citation-identifier-link {display:block;flex: 0 0 100%;}
.zotero-roam-search-item-key a, .zotero-roam-search-item-key button{overflow-wrap:break-word;}
.item-abstract{white-space:break-spaces;}

.import-header{display:flex;justify-content:space-between;align-items:center;padding:10px 5px!important;margin-bottom:20px;}
.import-options{display:flex;justify-content:space-between;flex-wrap:wrap;}
.options-library-list, .options-collections-list{flex:1 0 50%;}
.options-collections-list {max-height: 50vh;overflow-y:scroll;padding-top:2px;}
.options-collections-list::-webkit-scrollbar {width:0.2em;}
.options-collections-list label{font-weight:400;margin-left:40px;font-size:0.8em;margin-bottom:0px;}
.options-collections-list label[data-option-depth="0"]{margin-left:0px;}
.options-collections-list label[data-option-depth="1"]{margin-left:20px;}
.options-library-list label{font-weight:600;}
.options-tags{padding:20px 0px;flex: 1 0 100%;flex-wrap:wrap;display:flex;}
.options-tags-select{flex: 1 0 50%;}
.options-tags_selection{flex: 1 0 50%;padding:0px 8px;}
.options-tags_selection .bp3-tag{word-break:break-word;}
.zotero-roam-tags-autocomplete{box-shadow:none;background:none;}
.zotero-roam-import-tags-list{position:fixed;max-width:calc(20vw - 40px);z-index:20;border:1px #e1eeff solid;max-height:250px;overflow:scroll;}
.zotero-roam-import-tags-list > li{padding:3px 5px;}
li.import-items_selected{display:flex;justify-content:space-between;background:#f9fafb;padding:5px 0 5px 15px;}
.bp3-dark li.import-items_selected{background:#2e2f3187;}
.selected_title{font-weight:500;}
.selected_origin{display:block;font-weight:300;}
.selected_info{flex: 0 1 90%;}

.selected_state{flex: 1 0 10%;text-align:center;}

.roam-log-page{position:relative;}

.roam-body.mobile + #zotero-roam-portal .bp3-dialog-footer-actions{flex-direction:column;align-items:center;}

.zotero-roam-explo-import{position:absolute;right:0px;opacity:0.7;z-index:10;}
.zr-explo-list-item .bp3-menu-item{flex-wrap:wrap;}
.zr-explo-title{flex:1 0 100%;}
.zr-explo-title .bp3-checkbox{margin-bottom:0px;}
.zr-explo-publication, .zr-explo-abstract{display:block;white-space:break-spaces;}
.zr-explo-list-item .zotero-roam-item-contents{padding-left:30px;}
.zotero-roam-search-item-authors, .zotero-roam-citation-origin {padding-right: 8px;}
.zotero-roam-dashboard-overlay .main-panel {display: flex;}
.zotero-roam-dashboard-overlay .side-section {padding:15px;}
.zotero-roam-dashboard-overlay .side-section {flex: 1 0 20%;}
.zotero-roam-dashboard-overlay .main-section {flex: 1 0 80%;padding-left:15px;padding-bottom:15px;}
.zotero-roam-dashboard-overlay .side-section .bp3-tab-list {width: 100%;}
.zotero-roam-dashboard-overlay .bp3-tab-panel {display: flex;flex-wrap: wrap;justify-content: space-between;margin-top: 0px;}
.zr-tab-panel-header, .zr-tab-panel-contents {flex: 0 0 100%;}
.zr-tab-panel-header {display:flex;justify-content:space-between;align-items:flex-start;}
.zr-tab-panel-description {padding-top:15px;}
.zr-tab-panel-contents {padding-right:30px;position:relative;}
.zr-tab-panel-toolbar {display: flex;align-items: baseline;padding: 10px 0px;justify-content: space-between;flex: 0 0 100%;flex-wrap: wrap;border-bottom: 1px #cccccc solid;}
.zr-tab-panel-toolbar > .bp3-button-group > span {font-size: 0.9em;}
.zr-datalist-sort_option {padding: 3px 10px;}
.zr-datalist-sort_option:first-child {padding-left:0px;}
.zr-datalist-sort_option:last-child {padding-right:0px;}
.zr-datalist-sort_option label {width: auto;display: inline-block;text-align: center;cursor: pointer;font-weight:500;margin-bottom: 0px;}
.zr-datalist-sort_option input, .zr-datalist-sort_option input:focus {appearance: none;outline: none;cursor: pointer;padding: 0px;background: none;margin: 0px;}
.zr-datalist-sort_option input:checked, .zr-datalist-sort_option input:checked ~ span, .zr-datalist-sort_option input:checked ~ label {color: #3081e4;}
.zr-datalist-sort_option .bp3-icon {padding-right:5px;}
.zr-tab-panel-popover .bp3-dialog {box-shadow:none;border: 1px #ececec solid;padding-bottom:0px;margin: 30px auto;width:80%;}
.zr-tab-panel-popover .bp3-dialog-header {display:flex;padding:0px;}
.zr-tab-panel-popover .bp3-dialog-header h4 {font-size:14px;text-align:center;}
.zr-tab-panel-popover .bp3-dialog-body {display: flex;flex-wrap: wrap;align-items: baseline;margin: 15px 0px;}
.zr-tab-panel-popover .bp3-dialog-body .zr-tag-entry {display:flex;flex: 0 0 100%;justify-content:space-around;}
.zr-tag-column_input input {box-shadow:none;font-weight:bold;text-overflow:ellipsis;}
.zr-tag-column_input input::placeholder {font-weight:normal;}
.zr-tab-panel-popover .bp3-dialog-footer {display:flex;justify-content:flex-end;margin-bottom: 10px;}
.zr-tab-panel-popover-footer {display: flex;flex: 0 1 auto;text-align: right;align-items: baseline;}
.zr-tab-panel-popover-footer > * {margin: 10px 20px;}
.zr-tab-panel-popover[overlay-visible="true"] + .zr-tab-panel-datalist {opacity: 0.4;}
.zr-tab-panel-datalist {flex: 0 0 100%;padding:0px;max-height:70vh;overflow-y:scroll;background:unset;border-radius:0px;}
.zr-tab-panel-datalist-footer{display:flex;justify-content: space-between;border-top:1px #e6e6e6 solid;align-items:baseline;}
.zr-datalist-item {background:white;padding:5px 10px;display:flex;border-bottom:1px #f5f5f5 solid;}
.zr-datalist-item:last-child{border-bottom:1px white solid;}
.zr-datalist-item .bp3-menu-item {justify-content:space-between;align-items:baseline;width:100%;}
.zr-datalist-item [zr-role="title"] {font-weight:600;margin-right:15px;}
.zr-datalist-item [zr-role="title"]::before {content: '# '}
.zr-datalist-item [zr-role="taglist"] {margin:5px;}
[zr-role="taglist"] [data-tag-source] {padding: 3px 8px;margin: 3px 5px;margin-left:0px;border-radius: 3px;display:inline-block;}
label[data-tag-source] {color: #b3b3b3;background:#f9f9f9;border: 1px #e9e9e9 solid;font-weight:400;padding-top:4px;padding-bottom:4px;padding-right:15px;border-radius:5px;max-width:fit-content;}
[data-tag-source] .bp3-control-indicator {margin-left: -15px!important;border-radius:10px!important;}
[data-tag-source="roam"] input:checked ~ .bp3-control-indicator {background-color: #48a5e7;box-shadow: none;}
[data-tag-source="roam"] input:checked ~ .zr-tag-name {color: #48a5e7;}
[data-tag-source="zotero"] input:checked ~ .bp3-control-indicator {background-color: #e1881a;box-shadow: none;}
[data-tag-source="zotero"] input:checked ~ .zr-tag-name {color: #e1881a;}
[zr-role="taglist"] [data-tag-source="zotero"] {color: #e1881a;background-color: #fff5e7;}
[zr-role="taglist"] [data-tag-source="roam"] {color: #48a5e7;background-color: #e7f5ff;}
.zr-datalist-item .bp3-menu-item-label > .bp3-button-group {opacity:0.6;}
.zr-datalist-item:hover .bp3-menu-item-label > .bp3-button-group {opacity:1;transition:0.3s;}
.zr-tag-stats {flex: 0 1 66%;text-align: right;}
.zr-tag-stats span {display:block;}
.zr-loading-overlay {position: absolute;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;z-index: 5;}
.zr-loading-overlay.bp3-dialog {box-shadow:none;margin:0px;padding:0px;opacity:0.7;}
.zr-highlight {color: #206fe6;}
.bp3-dark .zr-highlight{color:#3fb8ff;}
.zr-highlight-2 {color:#d9822b;}
.zr-secondary {color: #7b7b7b;font-weight:300;}
.zr-auxiliary{color:#5c7080;}
.bp3-dark .zr-auxiliary{color:#95a8b7;}
[in-graph='true'] .bp3-menu-item-label > *, [in-graph='true'] .citekey-element {color: #21b377;}
[in-graph='false'] .bp3-menu-item-label .bp3-icon, [in-graph='false'] .citekey-element .bp3-icon {color: #F29D49;}
.zr-search-match {background-color: #fbde0f40;padding: 2px;border-radius: 3px;}
.zotero-roam-cm-option .bp3-menu-item, .zotero-roam-cm-option .bp3-menu-item::before {font-size: 0.95rem;}
.zr-text-small, .zr-text-small .bp3-button[class*='bp3-icon-']::before, .zr-text-small select, .zr-text-small button {font-size:0.85rem;}
@media (max-width:600px){

    .zotero-roam-dialog-overlay .bp3-dialog[side-panel="hidden"] {width:calc(95% - min(40vw, 60px));}
    .zotero-roam-dialog-overlay .bp3-dialog[side-panel="visible"] {width:calc(95% - min(20vw, 30px));}
    .zotero-roam-dialog-overlay .bp3-dialog[side-panel="visible"] .side-panel {flex-basis:min(20vw, 30px)!important;}
    #zotero-roam-portal .bp3-dialog[side-panel="hidden"] .side-panel{flex-basis:0%;}

    .zotero-roam-page-menu-citations .bp3-button{font-size:0.85em;}
    .zotero-roam-citations-search_result > .bp3-menu-item{flex-direction:column;}
    .zotero-roam-citations-search_result .zotero-roam-citation-copy-doi, .zotero-roam-citations-search_result .zotero-roam-citation-add-import{display:none;}
    .zotero-roam-search-item-key{text-align:left;}
}

/* Supplemental */

#zotero-roam-portal > .bp3-overlay > .bp3-dialog-container {
  justify-content: flex-start;
}

#zotero-roam-portal .header-content {
  position: relative;
}

[aria-selected="true"]{
  background-color: #e7f3f7;
}
