/* TODO: Once all values are confirmed, convert to RGBA then set gradients for states */

:root {
  --zr-accent-1-co: 216, 80%, 51%;
  --zr-accent-1: hsla(var(--zr-accent-1-co), 100%);
  --zr-accent-2-co: 30, 70%, 51%;
  --zr-accent-2: hsla(var(--zr-accent-2-co), 100%);
  --zr-auxiliary: #5c7080;
  --zr-border-co: #ececec;
  --zr-box-bg: #f8f8f8;
  --zr-dialog-bg: white;
  --zr-negative-bg: #fff1f2;
  --zr-negative-co: #c90808;
  --zr-positive-bg: #0f996026;
  --zr-positive-co: #0d8050;
  --zr-secondary-co: #7b7b7b;
  --zr-secondary-fw: 300;
  --zr-shortcut-co: inherit;
  --zr-text-co: inherit;
  --zr-text-small: 0.85rem;
}

[zr-dark-theme="true"] {
  --zr-accent-1-co: 202, 100%, 62%;
  --zr-accent-1: hsla(var(--zr-accent-1-co), 100%);
  --zr-accent-2: hsla(var(--zr-accent-2-co), 100%);
  --zr-auxiliary: #95a8b7;
  --zr-border-co: #2f3133;
  --zr-box-bg: #191919;
  --zr-dialog-bg: #1f1f1f;
  --zr-negative-bg: #332828;
  --zr-negative-co: #f36f6f;
  --zr-positive-bg: #5863582e;
  --zr-positive-co: #86f686;
  --zr-secondary-co: #506071;
  --zr-secondary-fw: 400;
  --zr-shortcut-co: #9b9b9b;
  --zr-text-co: #76a0cb;
}

/* Infrastructure */

.roam-log-page {
  position: relative; /* Required to adequately position contextual buttons */
}

#zotero-roam-portal .bp4-overlay-backdrop {
  opacity: 0.4;
}

#zotero-roam-portal > .bp4-overlay > .bp4-dialog-container {
  justify-content: flex-start;
}

/*  Variables Theming */

.zr-accent-1 {color: var(--zr-accent-1);}
.zr-accent-2 {color: var(--zr-accent-2);}
.zr-accent-1,
.zr-accent-2 {
  padding-right: 8px;
}

.zr-auxiliary,
button.bp4-button.zr-auxiliary{color: var(--zr-auxiliary);}

[class*="zr"] li[aria-selected="true"],
[class*="zr"] li [aria-selected="true"],
[class*="zr"] li[aria-selected="false"]:hover,
[class*="zr"] li [aria-selected="false"]:hover {
  background: hsla(var(--zr-accent-1-co), 8%);
}

.zr-secondary {color: var(--zr-secondary-co);font-weight:var(--zr-secondary-fw);}

.zr-text-small, 
.zr-text-small select, 
.zr-text-small button,
.zr-text-small .bp4-button-text {
  font-size: var(--zr-text-small);
}
.zr-text-small .bp4-icon {
  margin-top: 1px;
  margin-left: 0px;
}

/* Blueprint Elements */

[class*="zr"] .bp4-callout {
  background: var(--zr-box-bg);
  border: 1px var(--zr-border-co) solid;
  color: var(--zr-text-co);
}

[class*="zr"] .bp4-callout.bp4-intent-danger {
  background: var(--zr-negative-bg);
}

[class*="zr"] .bp4-callout.bp4-intent-danger,
[class*="zr"] .bp4-callout.bp4-intent-danger[class*=bp4-icon-]::before, 
[class*="zr"] .bp4-callout.bp4-intent-danger > .bp4-icon:first-child, 
[class*="zr"] .bp4-callout.bp4-intent-danger .bp4-heading,
[class*="zr"] .bp4-button.bp4-outlined.bp4-intent-danger {
  color: var(--zr-negative-co);
}

[class*="zr"] .bp4-numeric-input input.bp4-input {
  max-width: 40px;
}

[class*="zr"] .bp4-numeric-input .bp4-button:not([class*=bp4-intent-]) {
  background: var(--zr-dialog-bg);
  box-shadow: none;
}

[class*="zr"] a:not(.bp4-menu-item),
[class*="zr"] a:not(.bp4-menu-item) .bp4-icon,
[class*="zr"] .bp4-button.bp4-minimal.bp4-intent-primary,
[class*="zr"] .bp4-button.bp4-minimal.bp4-intent-primary:hover {
  color: hsla(var(--zr-accent-1-co), 80%);
}

[class*="zr"] a:not(.bp4-menu-item):hover {
  color: hsla(var(--zr-accent-1-co), 85%);
  text-decoration: none;
}

[class*="zr"] .bp4-tag.bp4-minimal:not([class*="bp4-intent-"]) {
  color: var(--zr-auxiliary);
}

[class^="zr"] .bp4-non-ideal-state {
  padding: 25px 0px;
}

[class*="zr"] .bp4-menu-header .bp4-heading,
[class*="zr"] .bp4-non-ideal-state h4.bp4-heading {
  color: var(--zr-text-co);
}

[class*="zr"] code.bp4-code {
  background: var(--zr-box-bg);
  border: 2px var(--zr-border-co) solid;
}

[class*="zr"] .bp4-code-block {
  background: var(--zr-dialog-bg);
  border: 1px var(--zr-border-co) solid;
  color: var(--zr-auxiliary);
  white-space: pre-wrap;
}

[class*="zr"] .bp4-progress-bar.bp4-intent-primary .bp4-progress-meter {
  background-color: var(--zr-accent-1);
}

[class*="zr"] .bp4-progress-bar.bp4-intent-warning .bp4-progress-meter {
  background-color: var(--zr-accent-2);
}

[class*="zr"] .bp4-html-select select {
  color: var(--zr-auxiliary);
}

[class*="zr"] .bp4-slider-track .bp4-slider-progress.bp4-intent-primary {
  background-color: hsla(var(--zr-accent-1-co), 20%);
}

[class*="zr"] .bp4-slider-track .bp4-slider-progress:not(.bp4-intent-primary) {
  background-color: var(--zr-box-bg);
}

[class*="zr"] .bp4-slider-handle {
  background: hsla(var(--zr-accent-1-co), 65%);
  border-radius: 10px;
  box-shadow: none;
}

[class*="zr"] .bp4-slider-handle .bp4-slider-label {
  background: var(--zr-box-bg);
  border: 1px var(--zr-border-co) solid;
  box-shadow: none;
  color: var(--zr-text-co);
  width: max-content;
}

[class*="zr"] .bp4-control.bp4-switch input:checked ~ .bp4-control-indicator {
  background-color: hsla(var(--zr-accent-1-co), 90%);
}

[class*="zr"] .bp4-control.bp4-switch .bp4-control-indicator::before {
  background: var(--zr-dialog-bg);
  box-shadow: none;
}

[class*="zr"] .bp4-control.bp4-radio {
  color: var(--zr-text-co);
  font-weight: 400;
}

[class*="zr"] .bp4-control.bp4-radio input ~ .bp4-control-indicator {
  box-shadow: none;
}

[class*="zr"] .bp4-control input:not(:checked) ~ .bp4-control-indicator {
  background-color: hsla(var(--zr-accent-1-co), 75%);
}

[class*="zr"] .bp4-control input:not(:checked) ~ .bp4-control-indicator {
  background-color: hsla(var(--zr-accent-1-co), 10%);
  background-image: none;
}

[class*="zr"] .bp4-tag.bp4-minimal.bp4-intent-primary {
  background: hsla(var(--zr-accent-1-co), 15%);
  color: var(--zr-accent-1);
}

[class*="zr"] .bp4-tag.bp4-minimal.bp4-intent-warning {
  background: hsla(var(--zr-accent-2-co), 15%);
  color: var(--zr-accent-2);
}

.zr-date-input {
  max-width: 230px;
}

.zr-date-range-input {
  max-width: 460px;
}

.zr-date-input input,
.zr-date-range-input input {
  background: var(--zr-dialog-bg);
  box-shadow: none;
  color: var(--zr-text-co);
  max-width: 230px;
  outline: 1px var(--zr-border-co) solid;
}

.zr-date-input .bp4-input-group.bp4-intent-danger input,
.zr-date-input .bp4-input-group.bp4-intent-danger .bp4-input-action .bp4-icon,
.zr-date-range-input .bp4-input-group.bp4-intent-danger input {
  color: var(--zr-negative-co);
}

.zr-date-input .bp4-input-group.bp4-intent-danger input,
.zr-date-range-input .bp4-input-group.bp4-intent-danger input {
  box-shadow: none;
  outline: 1px var(--zr-negative-co) solid;
}

.zr-date-input .bp4-input-group .bp4-input-action > span.bp4-icon {
  color: var(--zr-auxiliary);
  margin: 7px;
}

.zr-date-picker .bp4-datepicker .DayPicker-Day.DayPicker-Day--selected {
  background: hsla(var(--zr-accent-1-co), 90%);
}

/* Popovers & Menus */

.zr-popover:not(.zr-date-picker) {
  max-width: 300px;
}

.zr-popover.bp4-popover2 .bp4-popover2-content,
.zr-popover.bp4-popover .bp4-popover-content,
.zr-popover .bp4-menu,
.zr-popover .bp4-datepicker,
[class*="zr"] .bp4-menu,
[zr-role] .bp4-menu {
  background: var(--zr-box-bg);
  color: var(--zr-text-co);
}

.zr-popover.bp4-popover2 .bp4-popover2-arrow-fill {
  fill: var(--zr-box-bg);
}

.zr-popover .bp4-menu-item:hover {
  background: var(--zr-dialog-bg);
  color: var(--zr-text-co);
}

/* Tabs */

.zr-tabs.bp4-tabs > .bp4-tab-list > .bp4-tab,
.zr-tabs-minimal.bp4-tabs > .bp4-tab-list > .bp4-tab {
  color: var(--zr-text-co);
  opacity: 0.6;
}

.zr-tabs-minimal.bp4-tabs > .bp4-tab-list > .bp4-tab {
  font-weight: 400;
}

.zr-tabs.bp4-tabs > .bp4-tab-list > .bp4-tab[aria-selected="true"],
.zr-tabs-minimal.bp4-tabs > .bp4-tab-list > .bp4-tab[aria-selected="true"] {
  box-shadow: none;
  color: hsla(var(--zr-accent-1-co), 80%);
  font-weight: 500;
  opacity: 1;
}

.zr-tabs.bp4-tabs > .bp4-tab-list > .bp4-tab[aria-selected="true"],
.zr-tabs.bp4-tabs > .bp4-tab-list > .bp4-tab:not([aria-disabled="true"]):hover {
  background-color: var(--zr-box-bg);
}

.zr-tabs.bp4-tabs > .bp4-tab-list > .bp4-tab .bp4-icon,
.zr-tabs-minimal.bp4-tabs > .bp4-tab-list > .bp4-tab .bp4-icon {
  margin-right: 8px;
}

/* Dividers */

[class*="zr"] .bp4-divider,
[class*="zr"] .bp4-menu-divider,
[class*="zr"] .bp4-menu-header {
  border-color: var(--zr-border-co);
}

.zr-divider-minimal {
  border-top-width: 0px;
  margin: 10px 5px;
  width: fit-content;
}

.zr-divider-minimal > .bp4-heading {
  font-size: 0.75rem;
  letter-spacing: 0.3mm;
  opacity: 0.4;
  text-transform: uppercase;
}

/* SMALLER DISPLAYS */

@media (max-width: 1000px){
  .zr-tabs > .bp4-tab-list > .bp4-tab .bp4-icon,
  .zr-tabs-minimal > .bp4-tab-list > .bp4-tab .bp4-icon {
    margin-right: 0px;
  }
  .zr-tabs > .bp4-tab-list > .bp4-tab .bp4-icon + *,
  .zr-tabs-minimal > .bp4-tab-list > .bp4-tab .bp4-icon + * {
    display: none;
  }
}
