.zr-context-menu {
    max-width: 300px;
}

/* DARK THEMES */

.bp3-dark .zr-context-menu {
    background-color: var(--zr-dark-selected-bc,#191919);
    color: var(--zr-dark-text-co, #76a0cb);
}

.bp3-dark .zr-context-menu .bp3-menu-item:hover {
    background-color: var(--zr-dark-elem-bg, #2B3143);
}

@media (prefers-color-scheme: dark) {
    .zr-context-menu {
        background-color: var(--zr-dark-selected-bc,#191919);
        color: var(--zr-dark-text-co, #76a0cb);
    }

    .zr-context-menu .bp3-menu-item:hover {
        background-color: var(--zr-dark-elem-bg, #2B3143);
    }
}
