.zr-logger--entry {
	color: var(--zr-text-co);
	padding: 2px 5px;
}

.zr-log--header{
    align-items: center;
    display: flex;
    padding: 0px;
}

.zr-log--metadata {
	display: flex;
	flex: 2 0 33%;
	justify-content: space-evenly;
}

.zr-log--metadata > * {
	flex: 0 0 30%;
}

.zr-log--timestamp {
    padding: 0px 6px;
}

.zr-log--timestamp,
.zr-log--level{
    text-align: center;
}

.zr-log--summary {
	align-items: center;
	display: flex;
	flex: 0 2 66%;
	justify-content: space-between;
}